{
  "presets": [["es2015", { "loose": true }]],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["element-ui-qz"],
          "alias": {
            "element-ui-qz/src": "element-ui-qz/lib"
          }
        }]
      ]
    }
  }
}
