{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "not ie <= 8"]
        }
      }
    ]
  ],
  "plugins": ["transform-vue-jsx"],
  "env": {
    "utils": {
      "plugins": [
        ["module-resolver", {
          "root": ["element-ui"],
          "alias": {
            "element-ui/src": "element-ui/lib"
          }
        }]
      ]
    }
  }
}
