{
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true
  },
  "plugins": ["html", "json"],
  "extends": "elemefe",
  "rules": {
    "no-restricted-globals": ["error", "event", "fdescribe"]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
