node_modules
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log.*
lerna-debug.log.*
lib
.idea
examples/tmconsulting-ui
examples/pages/en-US
examples/pages/es
fe.element/tmconsulting-ui
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
.envrc
yarn-error.log
.bitmap
bit.json