.DS_Store
.idea
.npmrc
.vscode
.project
.packageinfo

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*
lib
.idea
.vscode
examples/element-ui
examples/pages/en-US
examples/pages/zh-CN
fe.yuwp-ui/yuwp-ui
examples/pages/es
examples/pages/fr-FR
fe.element/element-ui
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
package-lock.json
lib
deploy
src/index.js
.envrc