@import "common/var";

.tm-advanced-date-picker {
  &__popover {
    width: 510px;
    padding: 0;

    .tm-picker-panel__body {
      padding: 0 15px;
    }
    .tm-picker-panel__content {
      margin: 0 auto;
      padding: 16px 0;

      .tm-date-table {
        table-layout: fixed;
        width: 100%;
        th {
          text-transform: uppercase;
        }
      }

      table > tbody > tr > th {
        text-align: center;
      }
    }
  }
  &__input {
    &--error > input {
      color: $--color-sunset-orange;
      transition: $--color-transition-base;
    }
  }
}