@import "mixins/mixins";
@import "common/var";

@include b(backtop) {
  position: fixed;
  background-color: $--backtop-background-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: $--backtop-font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0,0,0, .12);
  cursor: pointer;
  z-index: 5;

  &:hover {
    background-color: $--backtop-hover-background-color
  }
}
