@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";
@import "mixins/utils";

@include b(button) {
  display: inline-block;
  line-height: 1;
  height: 40px;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-fill;
  border: $--border-base;
  border-color: $--color-mantis;
  color: $--color-mantis;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  @include utils-user-select(none);
  & + .tm-button {
    margin-left: 10px;
  }

  @include button-size(0, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover,
  &:focus {
    color: $--color-white;
    border-color: $--color-primary;
    background-color: $--color-white;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="tm-icon"] {
    width: 16px;
    height: 16px;
    line-height: 16px;
    & + span {
      margin-left: 5px;
      vertical-align: top;
    }
  }

  @include when(plain) {
    background-color: $--color-white-smoke;

    &:hover,
    &:focus {
      background-color: $--color-mantis;
      border-color: $--color-mantis;
      color: $--color-white;
    }

    &:active {
      background: $--color-white;
      border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      outline: none;
    }
  }

  @include when(active) {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $--color-primary-light-5;
      cursor: not-allowed;
      background-image: none;
      background-color: $--color-white;
      border-color: $--color-primary-light-5;
    }

    &.tm-button--text {
      background-color: transparent;
    }

    .tm-icon {
      opacity: 0.5;
    }
  }

  @include when(loading) {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    min-width: 192px;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255,.35);
    }
  }
  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;

    &.tm-button--primary {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  @include when(circle) {
    padding: 0;
    text-align: center;
    line-height: 38px;
    width: 40px;
    min-width: auto;
    border-radius: $--border-radius-circle;
    .tm-icon {
      height: 24px;
      width: 24px;
      font-size: 24px;
      line-height: 0;
    }
  }
  @include when(bold-border) {
    border-width: 2px;
    line-height: 36px;
  }
  @include m(default) {
    @include button-variant($--button-default-color, $--button-default-fill, $--button-default-border);
    min-width: 192px;

    &.is-plain {
      color: $--color-taupe-gray;
      border-color: $--color-white-smoke;
    }
    &.is-disabled,
    &.is-disabled:hover {
      color: mix($--color-taupe-gray, $--color-white);
      border-color: mix($--color-white-smoke, $--color-white);

      &.is-plain {
        color: mix($--color-taupe-gray, $--color-white);
        background-color: $--button-default-fill;
        border-color: mix($--color-white-smoke, $--color-white);
      }

      .tm-icon {
        fill: mix($--color-taupe-gray, $--color-white);
      }
    }
    &:hover,
    &.is-plain:hover {
      color: $--color-taupe-gray;
      background-color: $--color-white;
      border-color: $--color-white-smoke;
    }

    .tm-icon {
      fill: $--color-taupe-gray;
    }
  }
  @include m(primary) {
    min-width: 226px;
    height: 48px;
    @include button-variant($--button-primary-color, $--button-primary-fill, $--button-primary-border);

    &:hover,
    &.is-plain:hover {
      color: $--color-mantis;
      background-color: $--color-white;

      .tm-icon {
        fill: $--color-mantis;
      }
    }

    .tm-icon {
      fill: $--color-white;
    }
  }
  @include m(secondary) {
    min-width: 192px;

    &:focus {
      color: $--color-white;
      background-color: mix($--color-mantis, $--color-white, 80%);

      .tm-icon {
        fill: $--color-white;
      }
    }
    &:hover {
      color: $--color-white;
      background-color: $--color-mantis;

      .tm-icon {
        fill: $--color-white;
      }
    }
    &.is-plain {
      &.is-disabled {
        background-color: mix($--color-white-smoke, $--color-white, 20%);
      }
    }
    &.is-disabled {
      .tm-icon {
        fill: mix($--color-mantis, $--color-white, 50%);
      }
    }
    &.is-approve {
      .tm-icon {
        fill: $--color-mantis;
      }

      &:not(.is-disabled):hover,
      &:not(.is-disabled):focus {
        .tm-icon {
          fill: $--color-white;
        }
      }
      &.is-disabled {
        &,
        &:hover,
        &:focus {
          .tm-icon {
            &-check {
              fill: mix($--color-mantis, $--color-white);
            }
          }
        }
      }
    }
    &.is-cancel {
      color: $--color-taupe-gray;
      border-color: $--color-pastel-gray;

      &:not(.is-disabled):focus {
        color: $--color-white;
        background-color: mix($--color-pastel-gray, $--color-white, 80%);

        .tm-icon {
          &-cross {
            fill: $--color-white;
          }
        }
      }
      &:not(.is-disabled):hover {
        color: $--color-white;
        background-color: $--color-pastel-gray;
        border-color: $--color-pastel-gray;

        .tm-icon {
          fill: $--color-white;
        }
      }
      &.is-plain {
        background-color: mix($--color-pastel-gray, $--color-white, 10%);
      }
      &.is-disabled {
        &,
        &:hover,
        &:focus {
          color: mix($--color-taupe-gray, $--color-white);
          border-color: mix($--color-pastel-gray, $--color-white);

          .tm-icon {
            fill: mix($--color-taupe-gray, $--color-white);
          }
        }

        &.is-plain {
          background-color: mix($--color-pastel-gray, $--color-white, 10%);
        }
      }

      .tm-icon {
        fill: $--color-pastel-gray;
      }
    }
    &.is-remove {
      color: $--color-sunset-orange;
      border-color: $--color-sunset-orange;

      &:not(.is-disabled):focus {
        color: $--color-white;
        background-color: mix( $--color-sunset-orange, $--color-white, 80%);
      }
      &:not(.is-disabled):hover {
        color: $--color-white;
        background-color: $--color-sunset-orange;
        border-color: $--color-sunset-orange;
      }
      &.is-plain {
        background-color: mix($--color-sunset-orange, $--color-white, 10%);
      }
      &.is-disabled {
        &,
        &:hover,
        &:focus {
          color: mix($--color-sunset-orange, $--color-white);
          border-color: mix( $--color-sunset-orange, $--color-white);
        }
        &.is-plain {
          background-color: mix($--color-sunset-orange, $--color-white, 10%);
        }
      }
    }

    .tm-icon {
      fill: $--color-mantis;
    }
  }
  @include m(success) {
    @include button-variant($--button-success-color, $--button-success-fill, $--button-success-border);
  }
  @include m(warning) {
    @include button-variant($--button-warning-color, $--button-warning-fill, $--button-warning-border);
  }
  @include m(danger) {
    @include button-variant($--button-danger-color, $--button-danger-fill, $--button-danger-border);
  }
  @include m(info) {
    @include button-variant($--button-info-color, $--button-info-fill, $--button-info-border);

    &:not(.is-disabled):focus {
      color: mix($--color-blueberry, $--color-white, 80%);
      background-color: $--color-white;
      border-color: mix($--color-blueberry, $--color-white, 40%);

      .tm-icon {
        fill: mix($--color-blueberry, $--color-white, 80%);
      }
    }
    &:not(.is-disabled):hover {
      background-color: $--color-white;
      border-color: $--color-blueberry;
    }
    &.is-disabled {
      &,
      &:hover {
        color: mix($--color-blueberry, $--color-white, 50%);
        background-color: transparent;
        border-color: transparent;
      }

      .tm-icon {
        fill: mix($--color-blueberry, $--color-white, 50%);
      }
      &.is-plain,
      &.is-plain:hover {
        color: mix($--color-blueberry, $--color-white, 40%);
        background-color: mix($--color-blueberry, $--color-white, 10%);
        border-color: mix($--color-blueberry, $--color-white, 30%);
      }
    }
    &:not(.is-disabled).is-plain {
      color: $--color-blueberry;
      background-color: mix($--color-blueberry, $--color-white, 20%);
      border-color: mix($--color-blueberry, $--color-white, 40%);

      &:hover {
        background-color: $--color-white;
        border-color: $--color-blueberry;
      }
    }

    .tm-icon {
      fill: $--button-info-color;
    }
  }
  @include m(extra-large) {
    min-width: 322px;
    height: 48px;
    line-height: 48px;
    @include button-size(0, 27px, 15px, $--button-large-border-radius);
  }
  @include m(large) {
    min-width: 322px;
    height: 40px;
    line-height: 40px;
    @include button-size(0, $--button-large-padding-horizontal, $--button-large-font-size, $--button-large-border-radius);
  }
  @include m(medium) {
    min-width: 226px;
    @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);
  }
  @include m(small) {
    min-width: 192px;
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);
  }
  @include m(mini) {
    min-width: 166px;
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);
  }
  @include m(text) {
    border-color: transparent;
    color: mix($--color-taupe-gray, $--color-white, 50%);
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:not(.is-disabled):hover,
    &:not(.is-disabled):focus {
      color: mix($--color-taupe-gray, $--color-white, 80%);
      border-color: transparent;
      background-color: transparent;

      .tm-icon {
        fill: mix($--color-taupe-gray, $--color-white, 80%);
      }
    }
    &:not(.is-disabled):active {
      color: $--color-taupe-gray;
      border-color: transparent;
      background-color: transparent;

      .tm-icon {
        fill: $--color-taupe-gray;
      }
    }
    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      color: mix($--color-taupe-gray, $--color-white, 40%);
      border-color: transparent;

      .tm-icon {
        fill: mix($--color-taupe-gray, $--color-white, 40%);
      }
    }
    &:not(.is-disabled).is-search {
      &:focus {
        color: mix($--color-text-regular,$--color-white, 40%);

        .tm-icon {
          fill: mix($--color-text-regular,$--color-white, 40%);
        }
      }
      &:hover {
        color: $--color-blueberry;

        .tm-icon {
          fill: $--color-blueberry;
        }
      }
      &:active {
        color: $--color-text-regular;

        .tm-icon {
          fill: $--color-text-regular;
        }
      }
    }

    .tm-icon {
      fill: mix($--color-taupe-gray, $--color-white, 50%);
    }
  }
}

@include b(button-group) {
  @include utils-clearfix;
  display: inline-block;
  vertical-align: middle;

  & .tm-button {
    float: left;
    position: relative;
    min-width: 150px;
    & + .tm-button {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      background-color: mix($--color-primary, $--color-black, 80%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:focus {
        background-color: mix($--color-primary, $--color-black, 90%);
      }
      &:hover {
        background-color: $--color-white;
      }
    }
    &:first-child:last-child {
      border-top-right-radius: $--button-border-radius;
      border-bottom-right-radius: $--button-border-radius;
      border-top-left-radius: $--button-border-radius;
      border-bottom-left-radius: $--button-border-radius;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include when(active) {
      z-index: 1;
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .tm-button--#{$type} {
      &:first-child {
        border-right-color: rgba($--color-white, 0.5);
      }
      &:last-child {
        border-left-color: rgba($--color-white, 0.5);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba($--color-white, 0.5);
        border-right-color: rgba($--color-white, 0.5);
      }
    }
  }
}
