@import "common/var";
@import "mixins/mixins";

@include b(date-picker-joined) {
  position: relative;
  .tm-date-editor {
    height: 0;
    width: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 17px;
    bottom: 0;
  }
}
