@import "common/var";
@import "mixins/mixins";

@include b(drawer-container) {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;

  &--active {
    z-index: 9999999;
  }
}