@import "mixins/mixins";
@import "common/var";

@include b(entity-counter) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 38px;
  border: 1px solid $--entity-counter-border-color;
  border-radius: 3px;
  font-size: 15px;
  color: $--color-dark-gunmetal;

  @include m(empty) {
    color: $--entity-counter-border-color;
  }

  @include e(button) {
    cursor: pointer;
    height: 25px;
    width: 40px;
    background: none;
    border: 1px solid transparent;
    outline: none !important;
    flex-grow: 0;
    flex-shrink: 0;
    &:hover{
      @include e(icon) {
        fill: $--entity-counter-active-color;
      }
    }

    @include m(left) {
      padding-top: 0;
      border-right-color: $--entity-counter-border-color;
    }

    @include m(right) {
      border-left-color: $--entity-counter-border-color;
      padding-top: 0;
    }
  }

  @include e(icon) {
    fill: $--entity-counter-border-color;
    width: 24px;
    height: 24px;
    transition: .2s;
  }

  @include e(label) {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
  }
}
