@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";

@include b(form) {
  @include m(label-left) {
    & .el-form-item__label {
      text-align: left;
    }
  }
  @include m(label-top) {
    & .el-form-item__label {
      float: none;
      display: inline-block;
      text-align: left;
      padding: 0 0 10px 0;
    }
  }
  @include m(inline) {
    & .el-form-item {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
    }
    & .el-form-item__label {
      float: none;
      display: inline-block;
    }
    & .el-form-item__content {
      display: inline-block;
      vertical-align: top;
    }
    &.el-form--label-top .el-form-item__content {
      display: block;
    }
  }
}
@include b(form-item) {
  margin-bottom: 22px;
  @include utils-clearfix;

  & .el-form-item {
    margin-bottom: 0;
  }

  @include e(label) {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: $--color-black;
    line-height: 1;
    padding: 11px 12px 11px 0;
    box-sizing: border-box;
  }
  @include e(content) {
    line-height: 36px;
    position: relative;
    font-size: 14px;
    @include utils-clearfix;
  }
  @include e(error) {
    color: $--color-danger;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
  }

  @include when(required) {
    .el-form-item__label:before {
      content: '*';
      color: $--color-danger;
      margin-right: 4px;
    }
  }

  @include when(error) {
    & .el-input__inner,
    & .el-textarea__inner {
      border-color: $--color-danger;
    }
    & .el-input-group__append,
    & .el-input-group__prepend {
      & .el-input__inner {
        border-color: transparent;
      }
    }
  }
}
