$siagriIcons: (
  agendar-manutencao: "\ee5b",
  grafico-vazio: "\ee5a",
  chuva: "\ee48",
  gas-pump1: "\ee49",
  cultura-generico: "\ee4a",
  luminosidade: "\ee4b",
  milho: "\ee4c",
  soja: "\ee4d",
  temperatura: "\ee4e",
  umidade: "\ee4f",
  uminidade-do-solo: "\ee50",
  vento: "\ee51",
  wrench1: "\ee52",
  implemento: "\ee53",
  veiculo: "\ee54",
  trator: "\ee55",
  colheita: "\ee56",
  manejo: "\ee57",
  plantio: "\ee58",
  preparacao-de-solo: "\ee59",
  ad: "\e909",
  address-book: "\e90a",
  address-card: "\e90b",
  adjust: "\e90c",
  air-freshener: "\e90d",
  align-center: "\e90e",
  align-justify: "\e90f",
  align-left: "\e910",
  align-right: "\e911",
  allergies: "\e912",
  ambulance: "\e913",
  american-sign-language-interpreting: "\e914",
  anchor: "\e915",
  angle-double-down: "\e916",
  angle-double-left: "\e917",
  angle-double-right: "\e918",
  angle-double-up: "\e919",
  angle-down: "\e91a",
  angle-left: "\e91b",
  angle-right: "\e91c",
  angle-up: "\e91d",
  angry: "\e91e",
  ankh: "\e91f",
  apple-alt: "\e920",
  archive: "\e921",
  archway: "\e922",
  arrow-alt-circle-down: "\e923",
  arrow-alt-circle-left: "\e924",
  arrow-alt-circle-right: "\e925",
  arrow-alt-circle-up: "\e926",
  arrow-circle-down: "\e927",
  arrow-circle-left: "\e928",
  arrow-circle-right: "\e929",
  arrow-circle-up: "\e92a",
  arrow-down1: "\e92b",
  arrow-left1: "\e92c",
  arrow-right1: "\e92d",
  arrow-up1: "\e92e",
  arrows-alt-h: "\e92f",
  arrows-alt-v: "\e930",
  arrows-alt: "\e931",
  assistive-listening-systems: "\e932",
  asterisk: "\e933",
  at: "\e934",
  atlas: "\e935",
  atom: "\e936",
  audio-description: "\e937",
  award: "\e938",
  backspace: "\e939",
  backward: "\e93a",
  balance-scale: "\e93b",
  ban: "\e93c",
  band-aid: "\e93d",
  barcode: "\e93e",
  bars: "\e93f",
  baseball-ball: "\e940",
  basketball-ball: "\e941",
  bath: "\e942",
  battery-empty: "\e943",
  battery-full: "\e944",
  battery-half: "\e945",
  battery-quarter: "\e946",
  battery-three-quarters: "\e947",
  bed: "\e948",
  beer: "\e949",
  bell-slash: "\e94a",
  bell1: "\e94b",
  bezier-curve: "\e94c",
  bible: "\e94d",
  bicycle: "\e94e",
  binoculars: "\e94f",
  birthday-cake: "\e950",
  blender: "\e951",
  blind: "\e952",
  bold: "\e953",
  bolt: "\e954",
  bomb: "\e955",
  bone: "\e956",
  bong: "\e957",
  book-open: "\e958",
  book-reader: "\e959",
  book: "\e95a",
  bookmark: "\e95b",
  bowling-ball: "\e95c",
  box-open: "\e95d",
  box: "\e95e",
  boxes: "\e95f",
  braille: "\e960",
  brain: "\e961",
  briefcase-medical: "\e962",
  briefcase: "\e963",
  broadcast-tower: "\e964",
  broom: "\e965",
  brush: "\e966",
  bug: "\e967",
  building: "\e968",
  bullhorn: "\e969",
  bullseye: "\e96a",
  burn: "\e96b",
  bus-alt: "\e96c",
  bus: "\e96d",
  business-time: "\e96e",
  calculator: "\e96f",
  calendar-alt: "\e970",
  calendar-check: "\e971",
  calendar-minus: "\e972",
  calendar-plus: "\e973",
  calendar-times: "\e974",
  calendar: "\e975",
  camera-retro: "\e976",
  camera: "\e977",
  cannabis: "\e978",
  capsules: "\e979",
  car-alt: "\e97a",
  car-battery: "\e97b",
  car-crash: "\e97c",
  car-side: "\e97d",
  car: "\e97e",
  caret-down: "\e97f",
  caret-left1: "\e980",
  caret-right1: "\e981",
  caret-square-down: "\e982",
  caret-square-left: "\e983",
  caret-square-right: "\e984",
  caret-square-up: "\e985",
  caret-up: "\e986",
  cart-arrow-down: "\e987",
  cart-plus: "\e988",
  certificate: "\e989",
  chalkboard-teacher: "\e98a",
  chalkboard: "\e98b",
  charging-station: "\e98c",
  chart-area: "\e98d",
  chart-bar: "\e98e",
  chart-line: "\e98f",
  chart-pie: "\e990",
  check-circle: "\e991",
  check-double: "\e992",
  check-square: "\e993",
  check1: "\e994",
  chess-bishop: "\e995",
  chess-board: "\e996",
  chess-king: "\e997",
  chess-knight: "\e998",
  chess-pawn: "\e999",
  chess-queen: "\e99a",
  chess-rook: "\e99b",
  chess: "\e99c",
  chevron-circle-down: "\e99d",
  chevron-circle-left: "\e99e",
  chevron-circle-right: "\e99f",
  chevron-circle-up: "\e9a0",
  chevron-down: "\e9a1",
  chevron-left: "\e9a2",
  chevron-right: "\e9a3",
  chevron-up: "\e9a4",
  child: "\e9a5",
  church: "\e9a6",
  circle-notch: "\e9a7",
  circle: "\e9a8",
  city: "\e9a9",
  clipboard-check: "\e9aa",
  clipboard-list: "\e9ab",
  clipboard: "\e9ac",
  clock: "\e9ad",
  clone: "\e9ae",
  closed-captioning: "\e9af",
  cloud-download-alt: "\e9b0",
  cloud-upload-alt: "\e9b1",
  cloud: "\e9b2",
  cocktail: "\e9b3",
  code-branch: "\e9b4",
  code: "\e9b5",
  coffee: "\e9b6",
  cog: "\e9b7",
  cogs: "\e9b8",
  coins: "\e9b9",
  columns: "\e9ba",
  comment-alt: "\e9bb",
  comment-dollar: "\e9bc",
  comment-dots: "\e9bd",
  comment-slash: "\e9be",
  comment: "\e9bf",
  comments-dollar: "\e9c0",
  comments: "\e9c1",
  compact-disc: "\e9c2",
  compass: "\e9c3",
  compress: "\e9c4",
  concierge-bell: "\e9c5",
  cookie-bite: "\e9c6",
  cookie: "\e9c7",
  copy: "\e9c8",
  copyright: "\e9c9",
  couch: "\e9ca",
  credit-card: "\e9cb",
  crop-alt: "\e9cc",
  crop: "\e9cd",
  cross: "\e9ce",
  crosshairs: "\e9cf",
  crow: "\e9d0",
  crown: "\e9d1",
  cube: "\e9d2",
  cubes: "\e9d3",
  cut: "\e9d4",
  database: "\e9d5",
  deaf: "\e9d6",
  desktop: "\e9d7",
  dharmachakra: "\e9d8",
  diagnoses: "\e9d9",
  dice-five: "\e9da",
  dice-four: "\e9db",
  dice-one: "\e9dc",
  dice-six: "\e9dd",
  dice-three: "\e9de",
  dice-two: "\e9df",
  dice: "\e9e0",
  digital-tachograph: "\e9e1",
  directions: "\e9e2",
  divide: "\e9e3",
  dizzy: "\e9e4",
  dna: "\e9e5",
  dollar-sign: "\e9e6",
  dolly-flatbed: "\e9e7",
  dolly: "\e9e8",
  donate: "\e9e9",
  door-closed: "\e9ea",
  door-open: "\e9eb",
  dot-circle: "\e9ec",
  dove: "\e9ed",
  download1: "\e9ee",
  drafting-compass: "\e9ef",
  draw-polygon: "\e9f0",
  drum-steelpan: "\e9f1",
  drum: "\e9f2",
  dumbbell: "\e9f3",
  edit1: "\e9f4",
  eject: "\e9f5",
  ellipsis-h: "\e9f6",
  ellipsis-v: "\e9f7",
  envelope-open-text: "\e9f8",
  envelope-open: "\e9f9",
  envelope-square: "\e9fa",
  envelope: "\e9fb",
  equals: "\e9fc",
  eraser: "\e9fd",
  euro-sign: "\e9fe",
  exchange-alt: "\e9ff",
  exclamation-circle: "\ea00",
  exclamation-triangle: "\ea01",
  exclamation: "\ea02",
  expand-arrows-alt: "\ea03",
  expand: "\ea04",
  external-link-alt: "\ea05",
  external-link-square-alt: "\ea06",
  eye-dropper: "\ea07",
  eye-slash: "\ea08",
  eye: "\ea09",
  fast-backward: "\ea0a",
  fast-forward: "\ea0b",
  fax: "\ea0c",
  feather-alt: "\ea0d",
  feather: "\ea0e",
  female: "\ea0f",
  fighter-jet: "\ea10",
  file-alt: "\ea11",
  file-archive: "\ea12",
  file-audio: "\ea13",
  file-code: "\ea14",
  file-contract: "\ea15",
  file-download: "\ea16",
  file-excel: "\ea17",
  file-export: "\ea18",
  file-image: "\ea19",
  file-import: "\ea1a",
  file-invoice-dollar: "\ea1b",
  file-invoice: "\ea1c",
  file-medical-alt: "\ea1d",
  file-medical: "\ea1e",
  file-pdf: "\ea1f",
  file-powerpoint: "\ea20",
  file-prescription: "\ea21",
  file-signature: "\ea22",
  file-upload: "\ea23",
  file-video: "\ea24",
  file-word: "\ea25",
  file: "\ea26",
  fill-drip: "\ea27",
  fill: "\ea28",
  film: "\ea29",
  filter: "\ea2a",
  fingerprint: "\ea2b",
  fire-extinguisher: "\ea2c",
  fire: "\ea2d",
  first-aid: "\ea2e",
  fish: "\ea2f",
  flag-checkered: "\ea30",
  flag: "\ea31",
  flask: "\ea32",
  flushed: "\ea33",
  folder-minus: "\ea34",
  folder-open: "\ea35",
  folder-plus: "\ea36",
  folder: "\ea37",
  font-awesome-logo-full: "\ea38",
  font: "\ea39",
  football-ball: "\ea3a",
  forward: "\ea3b",
  frog: "\ea3c",
  frown-open: "\ea3d",
  frown: "\ea3e",
  funnel-dollar: "\ea3f",
  futbol: "\ea40",
  gamepad: "\ea41",
  gas-pump: "\ea42",
  gavel: "\ea43",
  gem: "\ea44",
  genderless: "\ea45",
  gift: "\ea46",
  glass-martini-alt: "\ea47",
  glass-martini: "\ea48",
  glasses: "\ea49",
  globe-africa: "\ea4a",
  globe-americas: "\ea4b",
  globe-asia: "\ea4c",
  globe: "\ea4d",
  golf-ball: "\ea4e",
  gopuram: "\ea4f",
  graduation-cap: "\ea50",
  greater-than-equal: "\ea51",
  greater-than: "\ea52",
  grimace: "\ea53",
  grin-alt: "\ea54",
  grin-beam-sweat: "\ea55",
  grin-beam: "\ea56",
  grin-hearts: "\ea57",
  grin-squint-tears: "\ea58",
  grin-squint: "\ea59",
  grin-stars: "\ea5a",
  grin-tears: "\ea5b",
  grin-tongue-squint: "\ea5c",
  grin-tongue-wink: "\ea5d",
  grin-tongue: "\ea5e",
  grin-wink: "\ea5f",
  grin: "\ea60",
  grip-horizontal: "\ea61",
  grip-vertical: "\ea62",
  h-square: "\ea63",
  hamsa: "\ea64",
  hand-holding-heart: "\ea65",
  hand-holding-usd: "\ea66",
  hand-holding: "\ea67",
  hand-lizard: "\ea68",
  hand-paper: "\ea69",
  hand-peace: "\ea6a",
  hand-point-down: "\ea6b",
  hand-point-left: "\ea6c",
  hand-point-right: "\ea6d",
  hand-point-up: "\ea6e",
  hand-pointer: "\ea6f",
  hand-rock: "\ea70",
  hand-scissors: "\ea71",
  hand-spock: "\ea72",
  hands-helping: "\ea73",
  hands: "\ea74",
  handshake: "\ea75",
  hashtag: "\ea76",
  haykal: "\ea77",
  hdd: "\ea78",
  heading: "\ea79",
  headphones-alt: "\ea7a",
  headphones: "\ea7b",
  headset: "\ea7c",
  heart: "\ea7d",
  heartbeat: "\ea7e",
  helicopter: "\ea7f",
  highlighter: "\ea80",
  history: "\ea81",
  hockey-puck: "\ea82",
  home: "\ea83",
  hospital-alt: "\ea84",
  hospital-symbol: "\ea85",
  hospital: "\ea86",
  hot-tub: "\ea87",
  hotel: "\ea88",
  hourglass-end: "\ea89",
  hourglass-half: "\ea8a",
  hourglass-start: "\ea8b",
  hourglass: "\ea8c",
  i-cursor: "\ea8d",
  id-badge: "\ea8e",
  id-card-alt: "\ea8f",
  id-card: "\ea90",
  image: "\ea91",
  images: "\ea92",
  inbox: "\ea93",
  indent: "\ea94",
  industry: "\ea95",
  infinity: "\ea96",
  info-circle: "\ea97",
  info1: "\ea98",
  italic: "\ea99",
  jedi: "\ea9a",
  joint: "\ea9b",
  journal-whills: "\ea9c",
  kaaba: "\ea9d",
  key: "\ea9e",
  keyboard: "\ea9f",
  khanda: "\eaa0",
  kiss-beam: "\eaa1",
  kiss-wink-heart: "\eaa2",
  kiss: "\eaa3",
  kiwi-bird: "\eaa4",
  landmark: "\eaa5",
  language: "\eaa6",
  laptop-code: "\eaa7",
  laptop: "\eaa8",
  laugh-beam: "\eaa9",
  laugh-squint: "\eaaa",
  laugh-wink: "\eaab",
  laugh: "\eaac",
  layer-group: "\eaad",
  leaf: "\eaae",
  lemon: "\eaaf",
  less-than-equal: "\eab0",
  less-than: "\eab1",
  level-down-alt: "\eab2",
  level-up-alt: "\eab3",
  life-ring: "\eab4",
  lightbulb: "\eab5",
  link: "\eab6",
  lira-sign: "\eab7",
  list-alt: "\eab8",
  list-ol: "\eab9",
  list-ul: "\eaba",
  list: "\eabb",
  location-arrow: "\eabc",
  lock-open: "\eabd",
  lock: "\eabe",
  long-arrow-alt-down: "\eabf",
  long-arrow-alt-left: "\eac0",
  long-arrow-alt-right: "\eac1",
  long-arrow-alt-up: "\eac2",
  low-vision: "\eac3",
  luggage-cart: "\eac4",
  magic: "\eac5",
  magnet: "\eac6",
  mail-bulk: "\eac7",
  male: "\eac8",
  map-marked-alt: "\eac9",
  map-marked: "\eaca",
  map-marker-alt: "\eacb",
  map-marker: "\eacc",
  map-pin: "\eacd",
  map-signs: "\eace",
  map: "\eacf",
  marker: "\ead0",
  mars-double: "\ead1",
  mars-stroke-h: "\ead2",
  mars-stroke-v: "\ead3",
  mars-stroke: "\ead4",
  mars: "\ead5",
  medal: "\ead6",
  medkit: "\ead7",
  meh-blank: "\ead8",
  meh-rolling-eyes: "\ead9",
  meh: "\eada",
  memory: "\eadb",
  menorah: "\eadc",
  mercury: "\eadd",
  microchip: "\eade",
  microphone-alt-slash: "\eadf",
  microphone-alt: "\eae0",
  microphone-slash: "\eae1",
  microphone: "\eae2",
  microscope: "\eae3",
  minus-circle: "\eae4",
  minus-square: "\eae5",
  minus1: "\eae6",
  mobile-alt: "\eae7",
  mobile: "\eae8",
  money-bill-alt: "\eae9",
  money-bill-wave-alt: "\eaea",
  money-bill-wave: "\eaeb",
  money-bill: "\eaec",
  money-check-alt: "\eaed",
  money-check: "\eaee",
  monument: "\eaef",
  moon: "\eaf0",
  mortar-pestle: "\eaf1",
  mosque: "\eaf2",
  motorcycle: "\eaf3",
  mouse-pointer: "\eaf4",
  music: "\eaf5",
  neuter: "\eaf6",
  newspaper: "\eaf7",
  not-equal: "\eaf8",
  notes-medical: "\eaf9",
  object-group: "\eafa",
  object-ungroup: "\eafb",
  oil-can: "\eafc",
  om: "\eafd",
  outdent: "\eafe",
  paint-brush: "\eaff",
  paint-roller: "\eb00",
  palette: "\eb01",
  pallet: "\eb02",
  paper-plane: "\eb03",
  paperclip: "\eb04",
  parachute-box: "\eb05",
  paragraph: "\eb06",
  parking: "\eb07",
  passport: "\eb08",
  pastafarianism: "\eb09",
  paste: "\eb0a",
  pause-circle: "\eb0b",
  pause: "\eb0c",
  paw: "\eb0d",
  peace: "\eb0e",
  pen-alt: "\eb0f",
  pen-fancy: "\eb10",
  pen-nib: "\eb11",
  pen-square: "\eb12",
  pen: "\eb13",
  pencil-alt: "\eb14",
  pencil-ruler: "\eb15",
  people-carry: "\eb16",
  percent: "\eb17",
  percentage: "\eb18",
  phone-slash: "\eb19",
  phone-square: "\eb1a",
  phone-volume: "\eb1b",
  phone1: "\eb1c",
  piggy-bank: "\eb1d",
  pills: "\eb1e",
  place-of-worship: "\eb1f",
  plane-arrival: "\eb20",
  plane-departure: "\eb21",
  plane: "\eb22",
  play-circle: "\eb23",
  play: "\eb24",
  plug: "\eb25",
  plus-circle: "\eb26",
  plus-square: "\eb27",
  plus1: "\eb28",
  podcast: "\eb29",
  poll-h: "\eb2a",
  poll: "\eb2b",
  poo: "\eb2c",
  poop: "\eb2d",
  portrait: "\eb2e",
  pound-sign: "\eb2f",
  power-off: "\eb30",
  pray: "\eb31",
  praying-hands: "\eb32",
  prescription-bottle-alt: "\eb33",
  prescription-bottle: "\eb34",
  prescription: "\eb35",
  print: "\eb36",
  procedures: "\eb37",
  project-diagram: "\eb38",
  puzzle-piece: "\eb39",
  qrcode: "\eb3a",
  question-circle: "\eb3b",
  question1: "\eb3c",
  quidditch: "\eb3d",
  quote-left: "\eb3e",
  quote-right: "\eb3f",
  quran: "\eb40",
  random: "\eb41",
  receipt: "\eb42",
  recycle: "\eb43",
  redo-alt: "\eb44",
  redo: "\eb45",
  registered: "\eb46",
  reply-all: "\eb47",
  reply: "\eb48",
  retweet: "\eb49",
  ribbon: "\eb4a",
  road: "\eb4b",
  robot: "\eb4c",
  rocket: "\eb4d",
  route: "\eb4e",
  rss-square: "\eb4f",
  rss: "\eb50",
  ruble-sign: "\eb51",
  ruler-combined: "\eb52",
  ruler-horizontal: "\eb53",
  ruler-vertical: "\eb54",
  ruler: "\eb55",
  rupee-sign: "\eb56",
  sad-cry: "\eb57",
  sad-tear: "\eb58",
  save: "\eb59",
  school: "\eb5a",
  screwdriver: "\eb5b",
  search-dollar: "\eb5c",
  search-location: "\eb5d",
  search-minus: "\eb5e",
  search-plus: "\eb5f",
  search2: "\eb60",
  seedling: "\eb61",
  server: "\eb62",
  shapes: "\eb63",
  share-alt-square: "\eb64",
  share-alt: "\eb65",
  share-square: "\eb66",
  share1: "\eb67",
  shekel-sign: "\eb68",
  shield-alt: "\eb69",
  ship: "\eb6a",
  shipping-fast: "\eb6b",
  shoe-prints: "\eb6c",
  shopping-bag: "\eb6d",
  shopping-basket: "\eb6e",
  shopping-cart: "\eb6f",
  shower: "\eb70",
  shuttle-van: "\eb71",
  sign-in-alt: "\eb72",
  sign-language: "\eb73",
  sign-out-alt: "\eb74",
  sign: "\eb75",
  signal: "\eb76",
  signature: "\eb77",
  sitemap: "\eb78",
  skull: "\eb79",
  sliders-h: "\eb7a",
  smile-beam: "\eb7b",
  smile-wink: "\eb7c",
  smile: "\eb7d",
  smoking-ban: "\eb7e",
  smoking: "\eb7f",
  snowflake: "\eb80",
  socks: "\eb81",
  solar-panel: "\eb82",
  sort-alpha-down: "\eb83",
  sort-alpha-up: "\eb84",
  sort-amount-down: "\eb85",
  sort-amount-up: "\eb86",
  sort-down1: "\eb87",
  sort-numeric-down: "\eb88",
  sort-numeric-up: "\eb89",
  sort-up1: "\eb8a",
  sort1: "\eb8b",
  spa: "\eb8c",
  space-shuttle: "\eb8d",
  spinner: "\eb8e",
  splotch: "\eb8f",
  spray-can: "\eb90",
  square-full: "\eb91",
  square-root-alt: "\eb92",
  square: "\eb93",
  stamp: "\eb94",
  star-and-crescent: "\eb95",
  star-half-alt: "\eb96",
  star-half: "\eb97",
  star-of-david: "\eb98",
  star-of-life: "\eb99",
  star: "\eb9a",
  step-backward: "\eb9b",
  step-forward: "\eb9c",
  stethoscope: "\eb9d",
  sticky-note: "\eb9e",
  stop-circle: "\eb9f",
  stop: "\eba0",
  stopwatch: "\eba1",
  store-alt: "\eba2",
  store: "\eba3",
  stream: "\eba4",
  street-view: "\eba5",
  strikethrough: "\eba6",
  stroopwafel: "\eba7",
  subscript: "\eba8",
  subway: "\eba9",
  suitcase-rolling: "\ebaa",
  suitcase: "\ebab",
  sun: "\ebac",
  superscript: "\ebad",
  surprise: "\ebae",
  swatchbook: "\ebaf",
  swimmer: "\ebb0",
  swimming-pool: "\ebb1",
  synagogue: "\ebb2",
  sync-alt: "\ebb3",
  sync: "\ebb4",
  syringe: "\ebb5",
  table-tennis: "\ebb6",
  table: "\ebb7",
  tablet-alt: "\ebb8",
  tablet: "\ebb9",
  tablets: "\ebba",
  tachometer-alt: "\ebbb",
  tag: "\ebbc",
  tags: "\ebbd",
  tape: "\ebbe",
  tasks: "\ebbf",
  taxi: "\ebc0",
  teeth-open: "\ebc1",
  teeth: "\ebc2",
  terminal: "\ebc3",
  text-height: "\ebc4",
  text-width: "\ebc5",
  th-large: "\ebc6",
  th-list: "\ebc7",
  th: "\ebc8",
  theater-masks: "\ebc9",
  thermometer-empty: "\ebca",
  thermometer-full: "\ebcb",
  thermometer-half: "\ebcc",
  thermometer-quarter: "\ebcd",
  thermometer-three-quarters: "\ebce",
  thermometer: "\ebcf",
  thumbs-down: "\ebd0",
  thumbs-up: "\ebd1",
  thumbtack: "\ebd2",
  ticket-alt: "\ebd3",
  times-circle: "\ebd4",
  times: "\ebd5",
  tint-slash: "\ebd6",
  tint: "\ebd7",
  tired: "\ebd8",
  toggle-off: "\ebd9",
  toggle-on: "\ebda",
  toolbox: "\ebdb",
  tooth: "\ebdc",
  torah: "\ebdd",
  torii-gate: "\ebde",
  trademark: "\ebdf",
  traffic-light: "\ebe0",
  train: "\ebe1",
  transgender-alt: "\ebe2",
  transgender: "\ebe3",
  trash-alt: "\ebe4",
  trash: "\ebe5",
  tree: "\ebe6",
  trophy: "\ebe7",
  truck-loading: "\ebe8",
  truck-monster: "\ebe9",
  truck-moving: "\ebea",
  truck-pickup: "\ebeb",
  truck: "\ebec",
  tshirt: "\ebed",
  tty: "\ebee",
  tv: "\ebef",
  umbrella-beach: "\ebf0",
  umbrella: "\ebf1",
  underline: "\ebf2",
  undo-alt: "\ebf3",
  undo: "\ebf4",
  universal-access: "\ebf5",
  university: "\ebf6",
  unlink: "\ebf7",
  unlock-alt: "\ebf8",
  unlock: "\ebf9",
  upload1: "\ebfa",
  user-alt-slash: "\ebfb",
  user-alt: "\ebfc",
  user-astronaut: "\ebfd",
  user-check: "\ebfe",
  user-circle: "\ebff",
  user-clock: "\ec00",
  user-cog: "\ec01",
  user-edit: "\ec02",
  user-friends: "\ec03",
  user-graduate: "\ec04",
  user-lock: "\ec05",
  user-md: "\ec06",
  user-minus: "\ec07",
  user-ninja: "\ec08",
  user-plus: "\ec09",
  user-secret: "\ec0a",
  user-shield: "\ec0b",
  user-slash: "\ec0c",
  user-tag: "\ec0d",
  user-tie: "\ec0e",
  user-times: "\ec0f",
  user: "\ec10",
  users-cog: "\ec11",
  users: "\ec12",
  utensil-spoon: "\ec13",
  utensils: "\ec14",
  vector-square: "\ec15",
  venus-double: "\ec16",
  venus-mars: "\ec17",
  venus: "\ec18",
  vial: "\ec19",
  vials: "\ec1a",
  video-slash: "\ec1b",
  video: "\ec1c",
  vihara: "\ec1d",
  volleyball-ball: "\ec1e",
  volume-down: "\ec1f",
  volume-off: "\ec20",
  volume-up: "\ec21",
  walking: "\ec22",
  wallet: "\ec23",
  warehouse: "\ec24",
  weight-hanging: "\ec25",
  weight: "\ec26",
  wheelchair: "\ec27",
  wifi: "\ec28",
  window-close: "\ec29",
  window-maximize: "\ec2a",
  window-minimize: "\ec2b",
  window-restore: "\ec2c",
  wine-glass-alt: "\ec2d",
  wine-glass: "\ec2e",
  won-sign: "\ec2f",
  wrench: "\ec30",
  x-ray: "\ec31",
  yen-sign: "\ec32",
  yin-yang: "\ec33",
  address-book1: "\ec34",
  address-card1: "\ec35",
  angry1: "\ec36",
  arrow-alt-circle-down1: "\ec37",
  arrow-alt-circle-left1: "\ec38",
  arrow-alt-circle-right1: "\ec39",
  arrow-alt-circle-up1: "\ec3a",
  bell-slash1: "\ec3b",
  bell2: "\ec3c",
  bookmark1: "\ec3d",
  building1: "\ec3e",
  calendar-alt1: "\ec3f",
  calendar-check1: "\ec40",
  calendar-minus1: "\ec41",
  calendar-plus1: "\ec42",
  calendar-times1: "\ec43",
  calendar1: "\ec44",
  caret-square-down1: "\ec45",
  caret-square-left1: "\ec46",
  caret-square-right1: "\ec47",
  caret-square-up1: "\ec48",
  chart-bar1: "\ec49",
  check-circle1: "\ec4a",
  check-square1: "\ec4b",
  circle1: "\ec4c",
  clipboard1: "\ec4d",
  clock1: "\ec4e",
  clone1: "\ec4f",
  closed-captioning1: "\ec50",
  comment-alt1: "\ec51",
  comment-dots1: "\ec52",
  comment1: "\ec53",
  comments1: "\ec54",
  compass1: "\ec55",
  copy1: "\ec56",
  copyright1: "\ec57",
  credit-card1: "\ec58",
  dizzy1: "\ec59",
  dot-circle1: "\ec5a",
  edit2: "\ec5b",
  envelope-open1: "\ec5c",
  envelope1: "\ec5d",
  eye-slash1: "\ec5e",
  eye1: "\ec5f",
  file-alt1: "\ec60",
  file-archive1: "\ec61",
  file-audio1: "\ec62",
  file-code1: "\ec63",
  file-excel1: "\ec64",
  file-image1: "\ec65",
  file-pdf1: "\ec66",
  file-powerpoint1: "\ec67",
  file-video1: "\ec68",
  file-word1: "\ec69",
  file1: "\ec6a",
  flag1: "\ec6b",
  flushed1: "\ec6c",
  folder-open1: "\ec6d",
  folder1: "\ec6e",
  font-awesome-logo-full1: "\ec6f",
  frown-open1: "\ec70",
  frown1: "\ec71",
  futbol1: "\ec72",
  gem1: "\ec73",
  grimace1: "\ec74",
  grin-alt1: "\ec75",
  grin-beam-sweat1: "\ec76",
  grin-beam1: "\ec77",
  grin-hearts1: "\ec78",
  grin-squint-tears1: "\ec79",
  grin-squint1: "\ec7a",
  grin-stars1: "\ec7b",
  grin-tears1: "\ec7c",
  grin-tongue-squint1: "\ec7d",
  grin-tongue-wink1: "\ec7e",
  grin-tongue1: "\ec7f",
  grin-wink1: "\ec80",
  grin1: "\ec81",
  hand-lizard1: "\ec82",
  hand-paper1: "\ec83",
  hand-peace1: "\ec84",
  hand-point-down1: "\ec85",
  hand-point-left1: "\ec86",
  hand-point-right1: "\ec87",
  hand-point-up1: "\ec88",
  hand-pointer1: "\ec89",
  hand-rock1: "\ec8a",
  hand-scissors1: "\ec8b",
  hand-spock1: "\ec8c",
  handshake1: "\ec8d",
  hdd1: "\ec8e",
  heart1: "\ec8f",
  hospital1: "\ec90",
  hourglass1: "\ec91",
  id-badge1: "\ec92",
  id-card1: "\ec93",
  image1: "\ec94",
  images1: "\ec95",
  keyboard1: "\ec96",
  kiss-beam1: "\ec97",
  kiss-wink-heart1: "\ec98",
  kiss1: "\ec99",
  laugh-beam1: "\ec9a",
  laugh-squint1: "\ec9b",
  laugh-wink1: "\ec9c",
  laugh1: "\ec9d",
  lemon1: "\ec9e",
  life-ring1: "\ec9f",
  lightbulb1: "\eca0",
  list-alt1: "\eca1",
  map1: "\eca2",
  meh-blank1: "\eca3",
  meh-rolling-eyes1: "\eca4",
  meh1: "\eca5",
  minus-square1: "\eca6",
  money-bill-alt1: "\eca7",
  moon1: "\eca8",
  newspaper1: "\eca9",
  object-group1: "\ecaa",
  object-ungroup1: "\ecab",
  paper-plane1: "\ecac",
  pause-circle1: "\ecad",
  play-circle1: "\ecae",
  plus-square1: "\ecaf",
  question-circle1: "\ecb0",
  registered1: "\ecb1",
  sad-cry1: "\ecb2",
  sad-tear1: "\ecb3",
  save1: "\ecb4",
  share-square1: "\ecb5",
  smile-beam1: "\ecb6",
  smile-wink1: "\ecb7",
  smile1: "\ecb8",
  snowflake1: "\ecb9",
  square1: "\ecba",
  star-half1: "\ecbb",
  star1: "\ecbc",
  sticky-note1: "\ecbd",
  stop-circle1: "\ecbe",
  sun1: "\ecbf",
  surprise1: "\ecc0",
  thumbs-down1: "\ecc1",
  thumbs-up1: "\ecc2",
  times-circle1: "\ecc3",
  tired1: "\ecc4",
  trash-alt1: "\ecc5",
  user-circle1: "\ecc6",
  user1: "\ecc7",
  window-close1: "\ecc8",
  window-maximize1: "\ecc9",
  window-minimize1: "\ecca",
  window-restore1: "\eccb",
  px: "\eccc",
  accessible-icon: "\eccd",
  accusoft: "\ecce",
  adn: "\eccf",
  adversal: "\ecd0",
  affiliatetheme: "\ecd1",
  algolia: "\ecd2",
  alipay: "\ecd3",
  amazon-pay: "\ecd4",
  amazon: "\ecd5",
  amilia: "\ecd6",
  android: "\ecd7",
  angellist: "\ecd8",
  angrycreative: "\ecd9",
  angular: "\ecda",
  app-store-ios: "\ecdb",
  app-store: "\ecdc",
  apper: "\ecdd",
  apple-pay: "\ecde",
  apple: "\ecdf",
  asymmetrik: "\ece0",
  audible: "\ece1",
  autoprefixer: "\ece2",
  avianex: "\ece3",
  aviato: "\ece4",
  aws: "\ece5",
  bandcamp: "\ece6",
  behance-square: "\ece7",
  behance: "\ece8",
  bimobject: "\ece9",
  bitbucket: "\ecea",
  bitcoin: "\eceb",
  bity: "\ecec",
  black-tie: "\eced",
  blackberry: "\ecee",
  blogger-b: "\ecef",
  blogger: "\ecf0",
  bluetooth-b: "\ecf1",
  bluetooth: "\ecf2",
  btc: "\ecf3",
  buromobelexperte: "\ecf4",
  buysellads: "\ecf5",
  cc-amazon-pay: "\ecf6",
  cc-amex: "\ecf7",
  cc-apple-pay: "\ecf8",
  cc-diners-club: "\ecf9",
  cc-discover: "\ecfa",
  cc-jcb: "\ecfb",
  cc-mastercard: "\ecfc",
  cc-paypal: "\ecfd",
  cc-stripe: "\ecfe",
  cc-visa: "\ecff",
  centercode: "\ed00",
  chrome: "\ed01",
  cloudscale: "\ed02",
  cloudsmith: "\ed03",
  cloudversify: "\ed04",
  codepen: "\ed05",
  codiepie: "\ed06",
  connectdevelop: "\ed07",
  contao: "\ed08",
  cpanel: "\ed09",
  creative-commons-by: "\ed0a",
  creative-commons-nc-eu: "\ed0b",
  creative-commons-nc-jp: "\ed0c",
  creative-commons-nc: "\ed0d",
  creative-commons-nd: "\ed0e",
  creative-commons-pd-alt: "\ed0f",
  creative-commons-pd: "\ed10",
  creative-commons-remix: "\ed11",
  creative-commons-sa: "\ed12",
  creative-commons-sampling-plus: "\ed13",
  creative-commons-sampling: "\ed14",
  creative-commons-share: "\ed15",
  creative-commons: "\ed16",
  css3-alt: "\ed17",
  css3: "\ed18",
  cuttlefish: "\ed19",
  d-and-d: "\ed1a",
  dashcube: "\ed1b",
  delicious: "\ed1c",
  deploydog: "\ed1d",
  deskpro: "\ed1e",
  deviantart: "\ed1f",
  digg: "\ed20",
  digital-ocean: "\ed21",
  discord: "\ed22",
  discourse: "\ed23",
  dochub: "\ed24",
  docker: "\ed25",
  draft2digital: "\ed26",
  dribbble-square: "\ed27",
  dribbble: "\ed28",
  dropbox: "\ed29",
  drupal: "\ed2a",
  dyalog: "\ed2b",
  earlybirds: "\ed2c",
  ebay: "\ed2d",
  edge: "\ed2e",
  elementor: "\ed2f",
  ello: "\ed30",
  ember: "\ed31",
  empire: "\ed32",
  envira: "\ed33",
  erlang: "\ed34",
  ethereum: "\ed35",
  etsy: "\ed36",
  expeditedssl: "\ed37",
  facebook-f: "\ed38",
  facebook-messenger: "\ed39",
  facebook-square: "\ed3a",
  facebook: "\ed3b",
  firefox: "\ed3c",
  first-order-alt: "\ed3d",
  first-order: "\ed3e",
  firstdraft: "\ed3f",
  flickr: "\ed40",
  flipboard: "\ed41",
  fly: "\ed42",
  font-awesome-alt: "\ed43",
  font-awesome-flag: "\ed44",
  font-awesome: "\ed45",
  fonticons-fi: "\ed46",
  fonticons: "\ed47",
  fort-awesome-alt: "\ed48",
  fort-awesome: "\ed49",
  forumbee: "\ed4a",
  foursquare: "\ed4b",
  free-code-camp: "\ed4c",
  freebsd: "\ed4d",
  fulcrum: "\ed4e",
  galactic-republic: "\ed4f",
  galactic-senate: "\ed50",
  get-pocket: "\ed51",
  gg-circle: "\ed52",
  gg: "\ed53",
  git-square: "\ed54",
  git: "\ed55",
  github-alt: "\ed56",
  github-square: "\ed57",
  github: "\ed58",
  gitkraken: "\ed59",
  gitlab: "\ed5a",
  gitter: "\ed5b",
  glide-g: "\ed5c",
  glide: "\ed5d",
  gofore: "\ed5e",
  goodreads-g: "\ed5f",
  goodreads: "\ed60",
  google-drive: "\ed61",
  google-play: "\ed62",
  google-plus-g: "\ed63",
  google-plus-square: "\ed64",
  google-plus: "\ed65",
  google-wallet: "\ed66",
  google: "\ed67",
  gratipay: "\ed68",
  grav: "\ed69",
  gripfire: "\ed6a",
  grunt: "\ed6b",
  gulp: "\ed6c",
  hacker-news-square: "\ed6d",
  hacker-news: "\ed6e",
  hackerrank: "\ed6f",
  hips: "\ed70",
  hire-a-helper: "\ed71",
  hooli: "\ed72",
  hornbill: "\ed73",
  hotjar: "\ed74",
  houzz: "\ed75",
  html5: "\ed76",
  hubspot: "\ed77",
  imdb: "\ed78",
  instagram: "\ed79",
  internet-explorer: "\ed7a",
  ioxhost: "\ed7b",
  itunes-note: "\ed7c",
  itunes: "\ed7d",
  java: "\ed7e",
  jedi-order: "\ed7f",
  jenkins: "\ed80",
  joget: "\ed81",
  joomla: "\ed82",
  js-square: "\ed83",
  js: "\ed84",
  jsfiddle: "\ed85",
  kaggle: "\ed86",
  keybase: "\ed87",
  keycdn: "\ed88",
  kickstarter-k: "\ed89",
  kickstarter: "\ed8a",
  korvue: "\ed8b",
  laravel: "\ed8c",
  lastfm-square: "\ed8d",
  lastfm: "\ed8e",
  leanpub: "\ed8f",
  less: "\ed90",
  line: "\ed91",
  linkedin-in: "\ed92",
  linkedin: "\ed93",
  linode: "\ed94",
  linux: "\ed95",
  lyft: "\ed96",
  magento: "\ed97",
  mailchimp: "\ed98",
  mandalorian: "\ed99",
  markdown: "\ed9a",
  mastodon: "\ed9b",
  maxcdn: "\ed9c",
  medapps: "\ed9d",
  medium-m: "\ed9e",
  medium: "\ed9f",
  medrt: "\eda0",
  meetup: "\eda1",
  megaport: "\eda2",
  microsoft: "\eda3",
  mix: "\eda4",
  mixcloud: "\eda5",
  mizuni: "\eda6",
  modx: "\eda7",
  monero: "\eda8",
  napster: "\eda9",
  neos: "\edaa",
  nimblr: "\edab",
  nintendo-switch: "\edac",
  node-js: "\edad",
  node: "\edae",
  npm: "\edaf",
  ns8: "\edb0",
  nutritionix: "\edb1",
  odnoklassniki-square: "\edb2",
  odnoklassniki: "\edb3",
  old-republic: "\edb4",
  opencart: "\edb5",
  openid: "\edb6",
  opera: "\edb7",
  optin-monster: "\edb8",
  osi: "\edb9",
  page4: "\edba",
  pagelines: "\edbb",
  palfed: "\edbc",
  patreon: "\edbd",
  paypal: "\edbe",
  periscope: "\edbf",
  phabricator: "\edc0",
  phoenix-framework: "\edc1",
  phoenix-squadron: "\edc2",
  php: "\edc3",
  pied-piper-alt: "\edc4",
  pied-piper-hat: "\edc5",
  pied-piper-pp: "\edc6",
  pied-piper: "\edc7",
  pinterest-p: "\edc8",
  pinterest-square: "\edc9",
  pinterest: "\edca",
  playstation: "\edcb",
  product-hunt: "\edcc",
  pushed: "\edcd",
  python: "\edce",
  qq: "\edcf",
  quinscape: "\edd0",
  quora: "\edd1",
  r-project: "\edd2",
  ravelry: "\edd3",
  react: "\edd4",
  readme: "\edd5",
  rebel: "\edd6",
  red-river: "\edd7",
  reddit-alien: "\edd8",
  reddit-square: "\edd9",
  reddit: "\edda",
  rendact: "\eddb",
  renren: "\eddc",
  replyd: "\eddd",
  researchgate: "\edde",
  resolving: "\eddf",
  rev: "\ede0",
  rocketchat: "\ede1",
  rockrms: "\ede2",
  safari: "\ede3",
  sass: "\ede4",
  schlix: "\ede5",
  scribd: "\ede6",
  searchengin: "\ede7",
  sellcast: "\ede8",
  sellsy: "\ede9",
  servicestack: "\edea",
  shirtsinbulk: "\edeb",
  shopware: "\edec",
  simplybuilt: "\eded",
  sistrix: "\edee",
  sith: "\edef",
  skyatlas: "\edf0",
  skype: "\edf1",
  slack-hash: "\edf2",
  slack: "\edf3",
  slideshare: "\edf4",
  snapchat-ghost: "\edf5",
  snapchat-square: "\edf6",
  snapchat: "\edf7",
  soundcloud: "\edf8",
  speakap: "\edf9",
  spotify: "\edfa",
  squarespace: "\edfb",
  stack-exchange: "\edfc",
  stack-overflow: "\edfd",
  staylinked: "\edfe",
  steam-square: "\edff",
  steam-symbol: "\ee00",
  steam: "\ee01",
  sticker-mule: "\ee02",
  strava: "\ee03",
  stripe-s: "\ee04",
  stripe: "\ee05",
  studiovinari: "\ee06",
  stumbleupon-circle: "\ee07",
  stumbleupon: "\ee08",
  superpowers: "\ee09",
  supple: "\ee0a",
  teamspeak: "\ee0b",
  telegram-plane: "\ee0c",
  telegram: "\ee0d",
  tencent-weibo: "\ee0e",
  the-red-yeti: "\ee0f",
  themeco: "\ee10",
  themeisle: "\ee11",
  trade-federation: "\ee12",
  trello: "\ee13",
  tripadvisor: "\ee14",
  tumblr-square: "\ee15",
  tumblr: "\ee16",
  twitch: "\ee17",
  twitter-square: "\ee18",
  twitter: "\ee19",
  typo3: "\ee1a",
  uber: "\ee1b",
  uikit: "\ee1c",
  uniregistry: "\ee1d",
  untappd: "\ee1e",
  usb: "\ee1f",
  ussunnah: "\ee20",
  vaadin: "\ee21",
  viacoin: "\ee22",
  viadeo-square: "\ee23",
  viadeo: "\ee24",
  viber: "\ee25",
  vimeo-square: "\ee26",
  vimeo-v: "\ee27",
  vimeo: "\ee28",
  vine: "\ee29",
  vk: "\ee2a",
  vnv: "\ee2b",
  vuejs: "\ee2c",
  weebly: "\ee2d",
  weibo: "\ee2e",
  weixin: "\ee2f",
  whatsapp-square: "\ee30",
  whatsapp: "\ee31",
  whmcs: "\ee32",
  wikipedia-w: "\ee33",
  windows: "\ee34",
  wix: "\ee35",
  wolf-pack-battalion: "\ee36",
  wordpress-simple: "\ee37",
  wordpress: "\ee38",
  wpbeginner: "\ee39",
  wpexplorer: "\ee3a",
  wpforms: "\ee3b",
  xbox: "\ee3c",
  xing-square: "\ee3d",
  xing: "\ee3e",
  y-combinator: "\ee3f",
  yahoo: "\ee40",
  yandex-international: "\ee41",
  yandex: "\ee42",
  yelp: "\ee43",
  yoast: "\ee44",
  youtube-square: "\ee45",
  youtube: "\ee46",
  zhihu: "\ee47",
  x: "\78",
  upload: "\e60d",
  error: "\e62c",
  success: "\e62d",
  warning: "\e62e",
  sort-down: "\e630",
  sort-up: "\e631",
  arrow-left: "\e600",
  circle-plus: "\e601",
  circle-plus-outline: "\e602",
  arrow-down: "\e603",
  arrow-right: "\e604",
  arrow-up: "\e605",
  back: "\e606",
  circle-close: "\e607",
  date: "\e608",
  circle-close-outline: "\e609",
  caret-left: "\e60a",
  caret-bottom: "\e60b",
  caret-top: "\e60c",
  caret-right: "\e60e",
  close: "\e60f",
  d-arrow-left: "\e610",
  check: "\e611",
  delete: "\e612",
  d-arrow-right: "\e613",
  document: "\e614",
  d-caret: "\e615",
  edit-outline: "\e616",
  download: "\e617",
  goods: "\e618",
  search1: "\e619",
  info: "\e61a",
  message: "\e61b",
  edit: "\e61c",
  location: "\e61d",
  loading: "\e61e",
  location-outline: "\e61f",
  menu: "\e620",
  minus: "\e621",
  bell: "\e622",
  mobile-phone: "\e624",
  news: "\e625",
  more-outline: "\e626",
  phone: "\e627",
  phone-outline: "\e628",
  picture: "\e629",
  picture-outline: "\e62a",
  plus: "\e62b",
  printer: "\e62f",
  rank: "\e632",
  refresh: "\e633",
  question: "\e634",
  remove: "\e635",
  share: "\e636",
  star-on: "\e637",
  setting: "\e638",
  circle-check: "\e639",
  service: "\e63a",
  sold-out: "\e63b",
  remove-outline: "\e63c",
  star-off: "\e63d",
  circle-check-outline: "\e63e",
  tickets: "\e63f",
  sort: "\e640",
  zoom-in: "\e641",
  time: "\e642",
  view: "\e643",
  upload2: "\e644",
  zoom-out: "\e645",
  more: "\e646",
  atividades: "\e900",
  configuracoes: "\e901",
  financeiro: "\e902",
  maquinarios: "\e903",
  search: "\e904",
  suprimentos: "\e905",
  tarefas: "\e906",
  usuario: "\e907",
  producao: "\e908") !default;