@import "common/var";

[class^="tm-icon"] svg {
  width: 14px; // base size
  height: 14px; // base size
  max-width: 100%;
  max-height: 100%;
}

.tm-icon-loading {
  animation: rotating 2s linear infinite;
}

.tm-icon--right {
  margin-left: 5px;
}
.tm-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
