@import "common/var";

.tm-icon {
  display: inline-block;
  vertical-align: middle;
  fill: $--icon-color-base;
  svg {
    width: 14px; // base size
    height: 14px; // base size
    max-width: 100%;
    max-height: 100%;
    fill: inherit;
    stroke: inherit;
  }

  @include m(loader) {
    svg {
      animation: rotating 2s linear infinite;
    }
  }

  @include m(right) {
    margin-left: 5px;
  }

  @include m(left) {
    margin-right: 5px;
  }

  @include m(success) {
    fill: none;
  }

  @include m(error) {
    fill: none;
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
