@import "mixins/mixins";
@import "common/var";

%size {
  width: 100%;
  height: 100%;
}

@include b(image) {
  display: inline-block;

  @include e(inner) {
    @extend %size;
    vertical-align: top;
  }

  @include e(placeholder) {
    @extend %size;
    background: $--background-color-base;
  }

  @include e(error) {
    @extend %size;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: $--background-color-base;
    color: $--color-text-placeholder;
    vertical-align: middle;
  }
}
