@import "mixins/mixins";
@import "common/var";
@import "input";

@include b(input-number) {
  display: inline-block;
  width: 180px;
  position: relative;

  & .el-input {
    display: block;
  }
  & .el-input__inner {
    appearance: none;
    padding-right: #{$--input-height * 2 + 10};
  }
  @include e((increase, decrease)) {
    height: auto;
    border-left: $--border-base;
    width: $--input-height;
    line-height: #{$--input-height - 2};
    top: 1px;
    text-align: center;
    color: $--color-black;
    cursor: pointer;
    position: absolute;
    z-index: 1;

    &:hover {
      color: $--color-primary;

      &:not(.is-disabled) ~ .el-input .el-input__inner:not(.is-disabled) {
        border-color: $--input-focus-border;
      }
    }

    @include when(disabled) {
      color: $--disabled-border-base;
      cursor: not-allowed;
    }
  }

  @include e(increase) {
    right: 0;
  }
  @include e(decrease) {
    right: #{$--input-height + 1};
  }

  @include when(disabled) {
    & .el-input-number__increase, .el-input-number__decrease {
      border-color: $--disabled-border-base;
      color: $--disabled-border-base;

      &:hover {
        color: $--disabled-border-base;
        cursor: not-allowed;
      }
    }
  }
  @include m(medium) {
    width: 200px;

    & .el-input-number__increase, .el-input-number__decrease {
      line-height: #{$--input-medium-height - 2};
      width: $--input-medium-height;
      font-size: $--input-medium-font-size;
    }
    & .el-input-number__decrease {
      right: #{$--input-medium-height + 1};
    }
    & .el-input__inner {
      padding-right: #{$--input-medium-height * 2 + 10};
    }
  }
  @include m(small) {
    width: 130px;

    & .el-input-number__increase, .el-input-number__decrease {
      line-height: #{$--input-small-height - 2};
      width: $--input-small-height;
      font-size: $--input-small-font-size;
    }
    & .el-input-number__decrease {
      right: #{$--input-small-height + 1};
    }
    & .el-input__inner {
      padding-right: #{$--input-small-height * 2 + 10};
    }
  }
  @include when(without-controls) {
    & .el-input__inner {
      padding-right: 10px;
    }
  }
}
