@import "mixins/mixins";
@import "common/var";

@include b(textarea) {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: $--font-size-base;

  @include e(inner) {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    color: $--input-color;
    background-color: $--input-fill;
    background-image: none;
    border: $--input-border;
    border-radius: $--input-border-radius;
    transition: $--border-transition-base;

    &::placeholder {
      color: $--input-placeholder-color;
    }

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }
  }

  @include when(disabled) {
    .tm-textarea__inner {
      background-color: $--input-disabled-fill;
      border-color: $--input-disabled-border;
      color: $--input-disabled-color;
      cursor: not-allowed;

      &::placeholder {
        color: $--input-disabled-placeholder-color;
      }
    }
  }
}

@include b(input) {
  position: relative;
  font-size: $--font-size-base;
  display: inline-block;
  width: 100%;
  @include scroll-bar;

  & .tm-icon.tm-input__clear {
    fill: $--color-pastel-gray;
    font-size: 16px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    transition: $--fill-transition-base;

    &:hover {
      fill: $--input-icon-focus-color;
    }
  }

  &:hover {
    .tm-input__suffix,
    .tm-input__prefix {
      color: $--input-icon-hover-color;

      .tm-icon {
        fill: $--input-icon-hover-color;
        &.tm-input__clear:hover {
          fill: $--input-icon-focus-color;
        }
      }
    }
  }

  @include e(inner) {
    -webkit-appearance: none;
    background-color: $--input-fill;
    background-image: none;
    border-radius: $--input-border-radius;
    border: $--input-border;
    box-sizing: border-box;
    color: $--input-color;
    display: inline-block;
    font-size: inherit;
    height: $--input-height;
    line-height: 1;
    outline: none;
    padding: 0 15px;
    transition: $--border-transition-base;
    width: 100%;

    &::placeholder {
      color: $--input-placeholder-color;
    }

    &:hover {
      border-color: $--input-hover-border;

      & + .tm-input__suffix,
      & + .tm-input__prefix {
        color: $--input-icon-hover-color;

        .tm-icon {
          fill: $--input-icon-hover-color;
        }
      }
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;

      & + .tm-input__suffix,
      & + .tm-input__prefix {
        color: $--input-icon-focus-color;

        .tm-icon:not(.tm-input__clear) {
          fill: $--input-icon-focus-color;
        }
      }
    }
  }

  @include e(suffix) {
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: $--input-icon-color;
    transition: all .3s;
    pointer-events: none;

    .tm-icon {
      fill: $--input-icon-color;
    }
  }

  @include e(suffix-inner) {
    pointer-events: all;
  }

  @include e(prefix) {
    position: absolute;
    height: 100%;
    left: 5px;
    top: 0;
    text-align: center;
    color: $--input-icon-color;
    transition: all .3s;

    .tm-icon {
      fill: $--input-icon-color;
    }
  }

  @include e((prefix, suffix)) {
    line-height: $--input-height - 2;
  }

  @include e(icon) {
    text-align: center;
    transition: all .3s;
    width: $--icon-size-base+2;
    height: $--icon-size-base+2;
  }

  @include e(validateIcon) {
    pointer-events: none;
  }

  @include when(active) {
    .tm-input__inner {
      outline: none;
      border-color: $--input-focus-border;
    }
  }

  @include when(disabled) {
    .tm-input__inner {
      background-color: $--input-disabled-fill;
      border-color: $--input-disabled-border;
      color: $--input-disabled-color;
      cursor: not-allowed;

      &::placeholder {
        color: $--input-disabled-placeholder-color;
      }
    }

    .tm-input__icon {
      cursor: not-allowed;
    }
  }

  @include m(suffix) {
    .tm-input__inner {
      padding-right: 30px;
    }
  }

  @include m(prefix) {
    .tm-input__inner {
      padding-left: 30px;
    }
  }

  @include m((search, suffix)) {
    .tm-input__inner {
      padding-right: 40px;
    }
    .tm-input__suffix {
      right: 10px;
    }
  }

  @include m((search, prefix)) {
    .tm-input__inner {
      padding-left: 40px;
    }
    .tm-input__prefix {
      left: 10px;
    }
  }

  @include m(extra-large) {
    font-size: 14px;
    line-height: 48px;

    @include e(inner) {
      height: 48px;
      line-height: 48px;
    }

    @include e((prefix, suffix)) {
      line-height: 48px;
    }

    .tm-input__icon:not(.tm-input__clear):not(.tm-select__caret) {
      height: 24px;
      width: 24px;
      font-size: 24px;
    }
  }
  @include m(large) {
    font-size: 14px;
    line-height: 40px;
    @include e(inner) {
      height: 40px;
      line-height: 40px;
    }
    @include e((prefix, suffix)) {
      line-height: 40px;
    }
    .tm-input__icon {
      height: 24px;
      width: 24px;
      font-size: 24px;
    }
  }
  @include m(medium) {
    font-size: $--input-medium-font-size;

    @include e(inner) {
      height: $--input-medium-height;
      line-height: 40px;
    }
    @include e((prefix, suffix)) {
      line-height: 36px;
    }
  }
  @include m(small) {
    font-size: $--input-small-font-size;

    @include e(inner) {
      height: $--input-small-height;
    }
    @include e((prefix, suffix)) {
      line-height: 32px;
    }
  }
  @include m(mini) {
    font-size: $--input-mini-font-size;

    @include e(inner) {
      height: $--input-mini-height;
    }
    @include e((prefix, suffix)) {
      line-height: 22px;
    }
  }
}

@include b(input-group) {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;

  > .tm-input__inner {
    vertical-align: middle;
    display: table-cell;
  }

  @include e((append, prepend)) {
    background-color: $--background-color-base;
    color: $--color-info;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: $--border-base;
    border-radius: $--input-border-radius;
    padding: 0 20px;
    width: 1px;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    .tm-select,
    .tm-button {
      display: inline-block;
      margin: -10px -20px;
    }

    button.tm-button,
    div.tm-select .tm-input__inner,
    div.tm-select:hover .tm-input__inner {
      border-color: transparent;
      background-color: transparent;
      color: inherit;
      border-top: 0;
      border-bottom: 0;
    }

    .tm-button,
    .tm-input {
      font-size: inherit;
    }
  }

  @include e(prepend) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include e(append) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @include m(prepend) {
    .tm-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .tm-select .tm-input.is-focus .tm-input__inner {
      border-color: transparent;
    }
  }

  @include m(append) {
    .tm-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .tm-select .tm-input.is-focus .tm-input__inner {
      border-color: transparent;
    }
  }
}

/** disalbe default clear on IE */
.tm-input__inner::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
