@import "mixins/mixins";
@import "common/var";

@include b(notification) {
  width: $--notification-width;
  padding: $--notification-padding;
  box-sizing: border-box;
  border-radius: $--border-radius-small;
  position: fixed;
  background-color: $--color-white;
  box-shadow: $--notification-shadow;
  transition: opacity .3s, transform .3s, left .3s, right .3s, top 0.4s, bottom .3s;
  overflow: hidden;

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }

  @include e(group) {
    margin-left: 0;
    @include when(with-icon) {
      margin-left: 55px;
    }
  }

  @include e(title) {
    font-weight: normal;
    font-size: $--notification-title-font-size;
    color: $--notification-title-color;
    margin: 0;
  }

  @include e(content) {
    font-size: $--notification-font-size;
    line-height: 21px;
    margin: 10px 0 0 0;
    color: $--notification-color;
    text-align: justify;

    p {
      margin: 0;
    }
  }

  @include e(icon) {
    height: $--notification-icon-size;
    width: $--notification-icon-size;
    font-size: $--notification-icon-size;
    float: left;
    position: relative;
    top: 3px;
  }

  @include e(closeBtn) {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: $--notification-close-color;
    font-size: $--notification-font-size;

    &:hover {
      color: $--notification-close-hover-color;
    }
  }

  & .el-icon-circle-check {
    color: $--notification-success-color;
  }

  & .el-icon-circle-cross {
    color: $--notification-danger-color;
  }

  & .el-icon-information {
    color: $--notification-info-color;
  }

  & .el-icon-warning {
    color: $--notification-warning-color;
  }
}

.el-notification-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.el-notification-fade-leave-active {
  opacity: 0;
}
