@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select";

@include b(pagination) {
  white-space: nowrap;
  padding: 2px 5px;
  color: $--pagination-color;
  font-weight: 500;
  @include utils-clearfix;

  span:not([class*=suffix]),
  button {
    display: inline-block;
    font-size: $--pagination-font-size;
    min-width: $--pagination-button-width;
    height: $--pagination-button-height;
    line-height: $--pagination-button-height;
    vertical-align: top;
    box-sizing: border-box;
  }

  .tm-input__inner {
    text-align: center;
    -moz-appearance: textfield;
  }

  // pagesize 的下拉 icon
  .tm-input__suffix {
    right: 0;
    transform: scale(.8);
  }

  .tm-select .tm-input {
    width: 100px;
    margin: 0 5px;

    .tm-input__inner {
      padding-right: 25px;
      border-radius: $--pagination-border-radius;
      height: $--pagination-button-height;
    }
  }

  button {
    border: none;
    padding: 0 6px;
    background: transparent;
    font-size: 13px;
    letter-spacing: -0.1px;
    text-align: left;
    color: $--pagination-button-color;

    &:focus {
      outline: none;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        color: $--color-dark-gunmetal;
      }
    }
  }

  .btn-prev,
  .btn-next {
    background: center center no-repeat;
    background-size: 16px;
    background-color: $--pagination-fill;
    cursor: pointer;
    margin: 0;
    & span {
      display: flex;
      align-items: center;
    }
    .tm-icon {
      fill: $--pagination-icon-fill;

      &:hover {
        fill: $--color-blueberry;
      }
    }

    &:hover {
      color: $--color-blueberry;

      .tm-icon {
        fill: $--color-blueberry;
      }
    }
  }

  .btn-prev {
    padding-right: 12px;
    & span .tm-icon {
      margin-right: 5px;
    }
  }

  .btn-next {
    padding-left: 12px;
    & span .tm-icon {
      margin-left: 5px;
    }
  }

  @include m(small) {
    .btn-prev,
    .btn-next,
    .tm-pager li,
    .tm-pager li:last-child {
      border-color: transparent;
      font-size: 12px;
      line-height: 22px;
      height: 22px;
      width: 22px;
    }

    .arrow.disabled {
      visibility: hidden;
    }
  }

  @include e(sizes) {
    margin: 0 10px 0 0;
    font-weight: normal;
    color: $--color-text-regular;

    .tm-input .tm-input__inner {
      font-size: $--pagination-font-size;
      padding-left: 8px;

      &:hover {
        border-color: $--pagination-hover-fill;
      }
    }
  }

  @include e(total) {
    margin-right: 10px;
    font-weight: normal;
    color: $--color-text-regular;
  }

  @include e(jump) {
    margin-left: 24px;
    font-weight: normal;
    color: $--color-text-regular;

    .tm-input__inner {
      padding: 0 3px;
    }
  }

  @include e(rightwrapper) {
    float: right;
  }

  @include e(editor) {
    line-height: 18px;
    padding: 0 2px;
    height: $--pagination-button-height;

    text-align: center;
    margin: 0 2px;
    box-sizing: border-box;
    border-radius: $--pagination-border-radius;

    &.tm-input {
      width: 50px;
    }

    &.tm-input .tm-input__inner {
      height: $--pagination-button-height;
    }

    .tm-input__inner::-webkit-inner-spin-button,
    .tm-input__inner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  @include when(background) {
    .btn-prev,
    .btn-next,
    .tm-pager li {
      margin: 0 5px;
      background-color: $--color-info-lighter;
      color: $--color-text-regular;
      min-width: 30px;
      border-radius: 2px;
    }

    .btn-prev, .btn-next {
      padding: 0;

      &.disabled {
        color: $--color-text-placeholder;
      }
    }

    .tm-pager li {
      &:hover {
        color: $--pagination-hover-fill;
      }

      &.active {
        background-color: $--color-primary;
        color: $--color-white;
      }
    }

    &.tm-pagination--small {
      .btn-prev,
      .btn-next,
      .tm-pager li {
        margin: 0 3px;
        min-width: 22px;
      }
    }
  }
}

@include b(pager) {
  user-select: none;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  padding: 0;
  margin: 0 25px;

  .more::before {
    line-height: 30px;
  }

  li {
    width: 28px;
    height: 28px;
    margin: 0 7px;
    background: $--pagination-fill;
    vertical-align: top;
    display: inline-block;
    font-size: $--pagination-font-size;
    font-weight: 500;
    line-height: $--pagination-button-height;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;

    &.btn-quicknext,
    &.btn-quickprev {
      line-height: 2.3;
      &:hover {
        line-height: 2;
      }
      & .tm-icon {
        fill: $--pagination-icon-fill;
        &--dots-horizontal {
          width: 9px;
          height: 9px;
        }
      }
    }

    &.btn-quickprev:hover {
      cursor: pointer;
    }

    &.btn-quicknext:hover {
      cursor: pointer;
    }

    &.active + li {
      border-left: 0;
    }

    &:hover {
      background: $--color-carriage-grey;
    }

    &.active {
      color: $--pagination-hover-fill;
      background-color: #50586d;
      border-radius: 50%;
      cursor: default;
    }
  }
}
