@import "mixins/mixins";
@import "common/var";

@include b(popper) {
  .popper__arrow,
  .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  .popper__arrow {
    height: $--popover-arrow-size;
    width: $--popover-arrow-size;
  }

  .popper__arrow::after {
    content: " ";
    border-width: $--popover-arrow-size;
    border-color: #fff #fff transparent transparent;
  }

  &[x-placement^="top"] {
    margin-bottom: #{$--popover-arrow-size + 6};
  }

  &[x-placement^="top"] .popper__arrow {
    bottom: -#{$--popover-arrow-size + $--popover-arrow-size / 2};
    left: 50%;
    margin-right: $--tooltip-arrow-size;

    &::after {
      bottom: 0;
      transform: rotate(135deg);
      box-shadow: 3px -3px 3px -1px rgba(0,0,0,0.14);
    }
  }

  &[x-placement^="bottom"] {
    margin-top: #{$--popover-arrow-size + 6};
  }

  &[x-placement^="bottom"] .popper__arrow {
    top: -#{$--popover-arrow-size + $--popover-arrow-size / 2};
    left: 50%;
    margin-right: #{$--tooltip-arrow-size / 2};

    &::after {
      top: 0;
      transform: rotate(-45deg);
      box-shadow: 2px -2px 3px -1px rgba(0, 0, 0, 0.19);
    }
  }

  &[x-placement^="right"] {
    margin-left: #{$--popover-arrow-size + 6};
  }

  &[x-placement$="start"] {
    margin-left: -1px;
  }

  &[x-placement$="end"] {
    margin-left: 1px;
  }

  &[x-placement^="right"] .popper__arrow {
    top: 50%;
    left: -#{$--popover-arrow-size + $--popover-arrow-size / 2};
    margin-top: -$--tooltip-arrow-size;

    &::after {
      left: 0;
      transform: rotate(-135deg);
      box-shadow: 3px -3px 3px -1px rgba(0,0,0,0.14);
    }
  }

  &[x-placement^="left"] {
    margin-right: #{$--popover-arrow-size + 6};
  }

  &[x-placement^="left"] .popper__arrow {
    top: 50%;
    right: -#{$--popover-arrow-size + $--popover-arrow-size / 2};
    margin-top: -$--tooltip-arrow-size;

    &::after {
      right: 0;
      transform: rotate(45deg);
      box-shadow: 3px -3px 3px -1px rgba(0,0,0,0.14);
    }
  }
}
