@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";

@include b(price-info) {
  color: $--color-text-primary;
  font-size: 20px;

  @include e(starts-prefix) {
    display: inline-flex;
    margin-right: 4px;
  }

  @include e(sum) {
    display: inline-flex;
    border-bottom: 1px dashed $--color-dark-gunmetal;
    font-weight: 500;
  }

  @include e(change) {
    display: inline-flex;
    margin: 0 2px;
    border-bottom: 1px dashed $--color-dark-gunmetal;
    font-weight: 500;
  }

  @include e(taxes) {
    display: inline-flex;
    vertical-align: top;
    flex-direction: column;
    margin-left: 6px;
    font-size: 10px;
    line-height: 10px;
  }

  @include e(currency) {
    vertical-align: top;
    margin-left: 2px;
    color: $--color-text-primary;
    font-weight: 500;
  }

  @include m(paid) {
    @include e(sum) {
      color: $--color-text-regular;
    }
  }

  @include m(not-paid) {
    @include e(sum) {
      color: $--color-sunset-orange;
    }
  }

  @include m(part-paid) {
    @include e(part-sum) {
      display: inline-flex;
      font-weight: 500;
      color: $--color-sunset-orange;
      border-bottom: 1px dashed $--color-dark-gunmetal;
    }
    @include e(sum) {
      margin-left: 2px;
      color: $--color-text-regular;

      &::before {
        display: inline;
        margin-right: 2px;
        content: '/';
      }
    }
  }

  @include m(no-dash) {

    @include e(sum) {
      color: $--color-text-regular;
      border: none;
    }
    @include e(change) {
      border: none;
    }
  }

  @include m(tiny) {
    font-size: 11px;

    @include e(starts-prefix) {
      font-size: 7px;
    }
  }

  @include m(extra-small) {
    font-size: 13px;

    @include e(starts-prefix) {
      font-size: 13px;
    }
  }

  @include m(small) {
    font-size: 15px;

    @include e(starts-prefix) {
      font-size: 9px;
    }
  }

  @include m(default) {
    font-size: 17px;

    @include e(starts-prefix) {
      font-size: 13px;
    }
  }

  @include m(medium) {
    font-size: 20px;

    @include e(starts-prefix) {
      font-size: 16px;
    }
  }

  @include m(large) {
    font-size: 24px;

    @include e(starts-prefix) {
      font-size: 20px;
    }
    @include e(taxes) {
      font-size: 13px;
      line-height: 13px;
    }
  }
}
