@import "mixins/mixins";
@import "mixins/_button";
@import "common/var";

@include b(radio-button) {
  position: relative;
  display: inline-block;
  outline: none;

  @include e(inner) {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
    background: $--button-default-fill;
    border: $--border-base;
    font-weight: $--button-font-weight;
    border-left: 0;
    color: $--color-text-primary;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    position: relative;
    cursor: pointer;
    transition: $--all-transition;

    @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, 0);

    &:hover {
      color: $--color-text-regular;
    }

    & [class*="tm-icon-"] {
      line-height: 0.9;

      & + span {
        margin-left: 5px;
      }
    }
  }

  @include e(orig-radio) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    left: -999px;

    &:checked {
      & + .tm-radio-button__inner {
        color: $--radio-button-checked-color;
        background-color: $--radio-button-checked-fill;
        border-color: $--radio-button-checked-border-color;
        box-shadow: -1px 0 0 0 $--radio-button-checked-border-color;

        .tm-icon {
          fill: $--color-white;
        }
      }
    }

    &:disabled {
      & + .tm-radio-button__inner {
        color: $--button-disabled-color;
        cursor: not-allowed;
        background-image: none;
        background-color: $--disabled-fill-base;
        border-color: $--disabled-border-base;
        box-shadow: none;
      }

      &:checked + .tm-radio-button__inner {
        color: $--color-white;
        background-color: $--radio-button-disabled-checked-fill;
        border-color: $--disabled-border-base;
      }
    }
  }

  &:first-child {
    .tm-radio-button__inner {
      border-left: $--border-base;
      border-radius: $--border-radius-base 0 0 $--border-radius-base;
      box-shadow: none !important;
    }
  }
  &:last-child {
    .tm-radio-button__inner {
      border-radius: 0 $--border-radius-base $--border-radius-base 0;
    }
  }

  &:first-child:last-child {
    .tm-radio-button__inner {
      border-radius: $--border-radius-base;
    }
  }

  @include m(primary) {
    &:first-child .tm-radio-button__inner, .tm-radio-button__inner {
      border-color: $--radio-button-primary-border-color;
      background-color: $--radio-button-primary--bg-color;
      color: $--radio-button-primary-color;

      &.is-active {
        border-color: $--radio-button-primary-active-border-color;
        background-color: $--radio-button-primary-active-bg-color;
        color: $--radio-button-primary-active-color;
      }
    }

    .tm-radio-button__orig-radio:checked {
      & + .tm-radio-button__inner {
        border-color: $--radio-button-primary-active-border-color;
        background-color: $--radio-button-primary-active-bg-color;
        color: $--radio-button-primary-active-color;
      }
    }
  }

  @include m(secondary) {
    & .tm-radio-button__inner {
      border-color: $--radio-button-secondary-border-color;
      background-color: $--radio-button-secondary--bg-color;
      color: $--radio-button-secondary-color;

      &.is-active {
        border-color: $--radio-button-secondary-active-border-color;
        background-color: $--radio-button-secondary-active-bg-color;
        color: $--radio-button-secondary-active-color;
      }
    }

    .tm-radio-button__orig-radio:checked {
      & + .tm-radio-button__inner {
        border-color: $--radio-button-secondary-active-border-color;
        background-color: $--radio-button-secondary-active-bg-color;
        color: $--radio-button-secondary-active-color;
      }
    }
  }

  @include m(medium) {
    & .tm-radio-button__inner {
      @include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, 0);
    }
  }
  @include m(small) {
    & .tm-radio-button__inner {
      @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, 0);
    }
  }
  @include m(mini) {
    & .tm-radio-button__inner {
      @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, 0);
    }
  }
  @include m(separate) {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: none;

    .tm-radio-button__orig-radio:checked + .tm-radio-button__inner {
      border-color: $--color-primary;
      background-color: $--color-primary;
      box-shadow: none;
    }

    .tm-radio-button__inner {
      box-shadow: none;
      border-radius: $--border-radius-base;
      border: $--border-base;
      width: 100%;
      transition: background-color .3s cubic-bezier(.645,.045,.355,1);
    }

    &:first-child {
      .tm-radio-button__inner {
        border-radius: $--border-radius-base;
        border: $--border-base;
      }
    }

    &:last-child {
      .tm-radio-button__inner {
        border-radius: $--border-radius-base;
        border: $--border-base;
      }
    }

  }

  &:focus:not(.is-focus):not(:active){ /*获得焦点时 样式提醒*/
    box-shadow: 0 0 2px 2px $--box-shadow-light;
  }
}
