@import 'common/var';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');

@font-face{
  font-family: 'Nunito Sans', sans-serif;
  font-weight:400;
  color: $--color-text-primary;
  font-size: $--font-size-base;
}

body,html {
  font-family: 'Nunito Sans', sans-serif !important; 
  font-weight: 400;
  font-size: $--font-size-base;
  color: $--color-text-primary;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $--color-primary;
  text-decoration: none;

  &:hover,
  &:focus {
    color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $--color-text-primary;
  font-weight: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: #{$--font-size-base + 66px};
}

h2 {
  font-size: #{$--font-size-base + 46px};
}

h3 {
  font-size: #{$--font-size-base + 34px};
}

h4{
  font-size: #{$--font-size-base + 20px};
}

h5{
  font-size: #{$--font-size-base + 10px};
}

h6{
  font-size: #{$--font-size-base + 6px};
  font-weight: 700;
}


p {
  font-size: #{$--font-size-base + 2px};
  line-height: 1.2;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

sup, sub {
  font-size: #{$--font-size-base - 1px};
}

small {
  font-size: $--font-size-base;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
