@import "mixins/mixins";
@import "mixins/utils";
@import "common/var";
@import "select-dropdown";
@import "input";
@import "tag";
@import "option";
@import "option-group";
@import "scrollbar";

@include b(select) {
  display: inline-block;
  position: relative;

  &:hover {
    .tm-input__inner {
      border-color: $--select-border-color-hover;
    }
  }

  .tm-input__inner {
    cursor: pointer;
    padding-right: 35px;

    &:hover {
      & + .tm-input__suffix .tm-select__caret,
      & + .tm-input__prefix .tm-select__caret {
        fill: $--select-icon-hover-color;
      }
    }

    &:focus {
      border-color: $--select-close-hover-color;
    }
  }

  .tm-input {
    @include when(focus) {
      .tm-input__suffix-inner {
        .tm-icon:not(.tm-select__caret) {
          fill: $--select-close-hover-color;
        }
      }
    }
    & .tm-select__caret {
      fill: $--select-icon-color;
      font-size: $--select-input-font-size;
      cursor: pointer;
      width: 16px;
      height: 16px;
      transition: transform .3s;
      transform: rotateZ(0deg);

      &:hover {
        fill: $--select-close-hover-color;
      }

      @include when(show-close) {
        font-size: $--select-font-size;
        text-align: center;
        transform: rotateZ(180deg);
        border-radius: $--border-radius-circle;
        color: $--select-input-color;
        transition: $--color-transition-base;

        &:hover {
          fill: $--select-close-hover-color;
        }
      }
    }

    &.is-disabled {
      & .tm-input__inner {
        cursor: not-allowed;

        &:hover {
          border-color: $--select-disabled-border;

          & + .tm-input__suffix .tm-select__caret,
          & + .tm-input__prefix .tm-select__caret {
            color: $--color-text-placeholder;
          }
        }
      }
    }

    &.is-focus .tm-input__inner {
      border-color: $--select-input-focus-background;

      & + .tm-input__suffix .tm-select__caret,
      & + .tm-input__prefix .tm-select__caret {
        fill: $--select-icon-hover-color;
      }
    }
  }

  > .tm-input {
    display: block;
  }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    color: $--select-multiple-input-color;
    font-size: $--select-font-size;
    appearance: none;
    height: 28px;
    background-color: transparent;
    @include when(mini) {
      height: 14px;
    }
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $--index-top;
    right: 25px;
    color: $--select-input-color;
    line-height: 18px;
    font-size: $--select-input-font-size;

    &:hover {
      color: $--select-close-hover-color;
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: nowrap;
    z-index: $--index-normal;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 13px;
    overflow: hidden;

    @include m(with-prefix) {
      margin-left: 33px;
    }

    @include m(with-suffix) {
      padding-right: 21px;
      box-sizing: border-box;
    }
  }

  @include e(tags-text) {
    margin-left: 0;
    font-size: 14px;
    letter-spacing: -0.2px;
    color: $--color-dark-gunmetal;
  }

  @include e(list-transition) {
    display: block;
    width: 100%;
  }

  @include e(show-more) {
    position: absolute;
    top: 1px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: $--color-taupe-gray;
    cursor: pointer;
    transition: $--all-transition;

    &:hover {
      color: $--color-blueberry;
    }
  }

  @include e(collapsed-popper) {
    &.tm-popover {
      text-align: center;
    }
  }

  .tm-tag {
    box-sizing: border-box;
    border-color: transparent;
    background-color: transparent;
    margin: 0;
    color: $--select-multiple-input-color;
    font-size: $--select-font-size;

    &__close {
      margin-top: -2px;
      &.tm-icon--cross {
        background-color: transparent;
        right: -7px;
        top: 0;
        fill: $--input-icon-color;

        &:hover {
          background-color: transparent;
          fill: $--color-text-secondary;
        }
      }
    }
    &.tm-select__tags-hidden-number {
      padding: 0;
      margin-left: 4px;
      color: $--color-blueberry;
      font-weight: 600;
    }
  }
}
