@import "mixins/mixins";
@import "common/var";

@include b(tabs) {
  @include e(header) {
    padding: 0;
    position: relative;
    margin: 0 0 15px;
  }
  @include e(close) {
    margin: 0;
    position: relative;
    left: 10px;

    .tm-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      fill: $--color-pastel-gray;
      opacity: 0;

      &:hover {
        fill: $--color-taupe-gray;
      }

      &:active {
        fill: $--color-blueberry;
      }
    }
  }

  &:focus {
    outline: none;
  }

  @include e(active-bar) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $--color-blueberry;
    z-index: 1;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
  }
  @include e(new-tab) {
    float: right;
    border: 1px solid #d3dce6;
    height: 18px;
    width: 18px;
    line-height: 18px;
    margin: 12px 0 9px 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    color: #d3dce6;
    cursor: pointer;
    transition: all .15s;

    .tm-icon--plus {
      transform: scale(0.8, 0.8);
    }

    &:hover {
      color: $--color-blueberry;
    }
  }
  @include e(nav-wrap) {
    overflow: hidden;
    margin-bottom: -1px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $--border-color-light;
      z-index: $--index-normal;
    }

    @include when(scrollable) {
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  @include e(nav-scroll) {
    overflow: hidden;
  }
  @include e((nav-next, nav-prev)) {
    position: absolute;
    cursor: pointer;
    line-height: 44px;
    font-size: 12px;
    color: $--color-text-secondary;
  }
  @include e(nav-next) {
    right: 0;
  }
  @include e(nav-prev) {
    left: 0;
  }
  @include e(nav) {
    white-space: nowrap;
    position: relative;
    transition: transform .3s;
    float: left;
    z-index: #{$--index-normal + 1};
  }
  @include e(item) {
    padding: 0 20px;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: $--color-text-primary;
    position: relative;

    &:focus, &:focus:active {
      outline: none;
    }

    &:focus.is-active.is-focus:not(:active) {
      box-shadow: 0 0 2px 2px #409eff inset;
      border-radius: 3px;
    }

    .tm-tabs__close {
      > .tm-icon.tm-icon--cross-bold {
        &:active {
          fill: $--color-blueberry;
        }
      }
    }

    @include when(active) {
      color: $--color-blueberry;
    }

    &:hover {
      color: $--color-blueberry;
      cursor: pointer;

      .tm-tabs__close {

        .tm-icon {
          opacity: 1;
          fill: $--color-taupe-gray;
        }
      }

      .tm-icon:not(.tm-icon--cross-bold) {
        fill: $--color-blueberry;
      }
    }

    @include when(disabled) {
      color: $--disabled-color-base;
      cursor: default;
    }
  }
  @include e(content) {
    overflow: hidden;
    position: relative;
  }
  @include e(icon) {
    height: $--tab-flow-icon-size;
    width: $--tab-flow-icon-size;
    font-size: $--tab-flow-icon-size;
    display: block;
    fill: $--tab-flow-icon-color;
    + .tm-tabs__label {
      margin-left: 6px;
    }
  }
  @include m(card) {
    > .tm-tabs__header {
      border-bottom: 1px solid $--border-color-light;
    }
    > .tm-tabs__header .tm-tabs__nav-wrap::after {
      content: none;
    }
    > .tm-tabs__header .tm-tabs__nav {
      border: 1px solid $--border-color-light;
      border-bottom: none;
      border-radius: 4px 4px 0 0;
    }
    > .tm-tabs__header .tm-tabs__active-bar {
      display: none;
    }
    > .tm-tabs__header .tm-tabs__item .tm-icon--cross {
      position: relative;
      font-size: 12px;
      width: 0;
      height: 14px;
      vertical-align: middle;
      line-height: 15px;
      overflow: hidden;
      top: -1px;
      right: -2px;
      transform-origin: 100% 50%;
    }
    > .tm-tabs__header .tm-tabs__item {
      border-bottom: 1px solid transparent;
      border-left: 1px solid $--border-color-light;
      transition: color .3s cubic-bezier(.645,.045,.355,1), padding .3s cubic-bezier(.645,.045,.355,1);
      &:first-child {
        border-left: none;
      }
      &.is-closable {
        &:hover {
          padding-left: 13px;
          padding-right: 13px;

          & .tm-icon--cross-bold {
            width: 14px;
          }
        }
      }
      &.is-active {
        border-bottom-color: $--color-white;

        &.is-closable {
          padding-left: 20px;
          padding-right: 20px;

          .tm-icon--cross-bold {
            width: 14px;
          }
        }
      }
    }
  }
  @include m(border-card) {
    background: $--color-white;
    border: 1px solid $--border-color-base;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 0 6px 0 rgba(0,0,0,0.04);

    >.tm-tabs__content {
      padding: 15px;
    }
    >.tm-tabs__header {
      background-color: $--background-color-base;
      border-bottom: 1px solid $--border-color-light;
      margin: 0;
    }
    > .tm-tabs__header .tm-tabs__nav-wrap::after {
      content: none;
    }
    >.tm-tabs__header .tm-tabs__item {
      transition: all .3s cubic-bezier(.645,.045,.355,1);
      border: 1px solid transparent;
      margin: -1px -1px 0;
      color: $--color-text-secondary;

      &.is-active {
        color: $--color-blueberry;
        background-color: $--color-white;
        border-right-color: $--border-color-base;
        border-left-color: $--border-color-base;
      }
      &:hover {
        color: $--color-blueberry;
      }
    }
  }
  @include m((top, bottom)) {
    .tm-tabs__item.is-top:nth-child(2),
    .tm-tabs__item.is-bottom:nth-child(2) {
      padding-left: 0;
    }
    .tm-tabs__item.is-top:last-child,
    .tm-tabs__item.is-bottom:last-child {
      padding-right: 0;
    }

    &.tm-tabs--border-card, &.tm-tabs--card,
    .tm-tabs--left, .tm-tabs--right {
      .tm-tabs__item:nth-child(2) {
        padding-left: 20px;
      }
      .tm-tabs__item:last-child {
        padding-right: 20px;
      }
    }
  }
  @include m(bottom) {
    .tm-tabs__header.is-bottom {
      margin-bottom: 0;
      margin-top: 10px;
    }
    &.tm-tabs--border-card {
      .tm-tabs__header.is-bottom {
        border-bottom: 0;
        border-top: 1px solid $--border-color-base;
      }
      .tm-tabs__nav-wrap.is-bottom {
        margin-top: -1px;
        margin-bottom: 0;
      }
      .tm-tabs__item.is-bottom:not(.is-active) {
        border: 1px solid transparent;
      }
      .tm-tabs__item.is-bottom {
        margin: 0 -1px -1px -1px;
      }
    }
  }
  @include m((left, right)) {
    overflow: hidden;

    .tm-tabs__header.is-left,
    .tm-tabs__header.is-right,
    .tm-tabs__nav-wrap.is-left,
    .tm-tabs__nav-wrap.is-right,
    .tm-tabs__nav-scroll {
      height: 100%;
    }

    .tm-tabs__active-bar.is-left,
    .tm-tabs__active-bar.is-right {
      top: 0;
      bottom: auto;
      width: 2px;
      height: auto;
    }

    .tm-tabs__nav-wrap.is-left,
    .tm-tabs__nav-wrap.is-right {
      margin-bottom: 0;

      &.is-scrollable {
        padding: 30px 0;
      }

      &::after {
        height: 100%;
        width: 2px;
        bottom: auto;
        top: 0;
      }
    }

    .tm-tabs__nav {
      float: none;
    }
    .tm-tabs__item.is-left,
    .tm-tabs__item.is-right {
      display: block;
    }

    .tm-tabs__nav-prev,
    .tm-tabs__nav-next {
      height: 30px;
      line-height: 30px;
      width: 100%;
      text-align: center;
      cursor: pointer;

      i {
        transform: rotateZ(90deg);
      }
    }
    .tm-tabs__nav-prev {
      left: auto;
      top: 0;
    }
    .tm-tabs__nav-next {
      right: auto;
      bottom: 0;
    }
  }
  @include m(left) {
    .tm-tabs__header.is-left {
      float: left;
      margin-bottom: 0;
      margin-right: 10px;
    }
    .tm-tabs__nav-wrap.is-left {
      margin-right: -1px;
      &::after {
        left: auto;
        right: 0;
      }
    }
    .tm-tabs__active-bar.is-left {
      right: 0;
      left: auto;
    }
    .tm-tabs__item.is-left {
      text-align: right;
    }

    &.tm-tabs--card {
      .tm-tabs__active-bar.is-left {
        display: none;
      }
      .tm-tabs__item.is-left {
        border-left: none;
        border-right: 1px solid $--border-color-light;
        border-bottom: none;
        border-top: 1px solid $--border-color-light;
      }
      .tm-tabs__item.is-left:first-child {
        border-right: 1px solid $--border-color-light;
        border-top: none;
      }
      .tm-tabs__item.is-left.is-active {
        border: 1px solid $--border-color-light;
        border-right-color: #fff;
        border-left: none;
        border-bottom: none;

        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
        }
      }

      .tm-tabs__nav {
        border-radius: 4px 0 0 4px;
        border-bottom: 1px solid $--border-color-light;
        border-right: none;
      }

      .tm-tabs__new-tab {
        float: none;
      }
    }

    &.tm-tabs--border-card {
      .tm-tabs__header.is-left {
        border-right: 1px solid #dfe4ed;
      }
      .tm-tabs__item.is-left {
        border: 1px solid transparent;
        margin: -1px 0 -1px -1px;

        &.is-active {
          border-color: transparent;
          border-top-color: rgb(209, 219, 229);
          border-bottom-color: rgb(209, 219, 229);
        }
      }
    }
  }
  @include m(right) {
    .tm-tabs__header.is-right {
      float: right;
      margin-bottom: 0;
      margin-left: 10px;
    }

    .tm-tabs__nav-wrap.is-right {
      margin-left: -1px;
      &::after {
        left: 0;
        right: auto;
      }
    }

    .tm-tabs__active-bar.is-right {
      left: 0;
    }

    &.tm-tabs--card {
      .tm-tabs__active-bar.is-right {
        display: none;
      }
      .tm-tabs__item.is-right {
        border-bottom: none;
        border-top: 1px solid $--border-color-light;
      }
      .tm-tabs__item.is-right:first-child {
        border-left: 1px solid $--border-color-light;
        border-top: none;
      }
      .tm-tabs__item.is-right.is-active {
        border: 1px solid $--border-color-light;
        border-left-color: #fff;
        border-right: none;
        border-bottom: none;

        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
        }
      }

      .tm-tabs__nav {
        border-radius: 0 4px 4px 0;
        border-bottom: 1px solid $--border-color-light;
        border-left: none;
      }
    }
    &.tm-tabs--border-card {
      .tm-tabs__header.is-right {
        border-left: 1px solid #dfe4ed;
      }
      .tm-tabs__item.is-right {
        border: 1px solid transparent;
        margin: -1px -1px -1px 0;

        &.is-active {
          border-color: transparent;
          border-top-color: rgb(209, 219, 229);
          border-bottom-color: rgb(209, 219, 229);
        }
      }
    }
  }
  @include m(flow) {
    margin-top: 16px;
    margin-bottom: 16px;
    .tm-tabs__item {
      display: inline-flex;
      align-items: flex-start;
      justify-content: flex-start;
      min-height: $--tab-flow-item-height;
      max-height: $--tab-flow-item-height;
      line-height: $--tab-flow-item-height - 4;
      padding: 6px $--tab-flow-item-padding;
      box-sizing: border-box;
      font-size: 14px;
      text-align: left;
      color: $--tab-flow-item-text-color;
      background-color: transparent;
      border: $--tab-flow-item-border;
      border-radius: 4px;
      transition: $--all-transition;
      &.is-active {
        background-color: $--tab-flow-item-active-color;
        border-color: $--tab-flow-item-active-color;
        box-shadow: $--tab-flow-item-shadow;

        &:hover {
          height: auto;
          max-height: 300px;

          .tm-tabs__label {
            white-space: normal;
          }
        }
      }
      &.is-bottom, &.is-top {
        &:nth-child(2), &:last-child {
          padding: 6px $--tab-flow-item-padding;
        }
      }
      & + .tm-tabs__item {
        margin-left: $--tab-flow-item-padding;
      }
      .tm-tabs__label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 300px;
        height: 100%;
        line-height: 1.36;
        transition: $--all-transition;
        word-break: keep-all;
        margin-top: 3px;
      }
      .tm-tabs__close {
        line-height: normal;

        .tm-icon {
          line-height: 28px;
        }
      }
    }
    .tm-tabs__nav {
      padding: $--tab-flow-item-padding 1px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    .tm-tabs__nav-wrap:after {
      content: normal;
    }
  }

  @include m(nav) {
    @include e(close) {
      position: relative;
      left: 15px;
    }
    .tm-tabs__nav {
      display: flex;
    }
    .tm-tabs__item {
      padding: 21px 33px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: -0.1px;
      color: $--color-taupe-gray;
      box-sizing: border-box;
      border-bottom: 3px solid transparent;
      text-transform: uppercase;

      @include when(active) {
        border-bottom: 3px solid $--color-blueberry;
        color: $--color-blueberry;
      }

      &:hover {
        border-bottom-color: $--color-pastel-gray;
      }

      &.is-active {
        border-bottom-color: $--color-blueberry;
      }

      .tm-tabs__close .tm-icon {
        fill: $--color-pastel-gray;

        &:hover {
          fill: $--color-taupe-gray;
        }
      }

      &.is-bottom, &.is-top {
        &:nth-child(2), &:last-child {
          padding-left: 33px;
        }
        &:last-child {
          padding-right: 33px;
        }
      }
    }
    .tm-tabs__nav-wrap:after {
      content: normal;
    }
  }

  @include m(border-nav) {
    border-bottom: 1px solid $--border-color-base;
    @include e(close) {
      position: relative;
      left: 15px;
    }
    .tm-tabs__header {
      margin: 0;
    }
    .tm-tabs__nav {
      display: flex;
      width: 100%;
    }
    .tm-tabs__item {
      width: 100%;
      padding: 16px 16px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: -0.1px;
      color: $--color-taupe-gray;
      box-sizing: border-box;
      border-bottom: 3px solid transparent;
      text-transform: uppercase;

      @include when(active) {
        border-bottom: 3px solid $--color-blueberry;
        color: $--color-blueberry;
      }

      &.is-bottom, &.is-top {
        &:nth-child(2), &:last-child {
          padding-left: 33px;
        }
        &:last-child {
          padding-right: 33px;
        }
      }
    }
    .tm-tabs__nav-wrap:after {
      content: normal;
    }
  }
}

.slideInRight-transition,
.slideInLeft-transition {
  display: inline-block;
}
.slideInRight-enter {
  animation: slideInRight-enter .3s;
}
.slideInRight-leave {
  position: absolute;
  left: 0;
  right: 0;
  animation: slideInRight-leave .3s;
}
.slideInLeft-enter {
  animation: slideInLeft-enter .3s;
}
.slideInLeft-leave {
  position: absolute;
  left: 0;
  right: 0;
  animation: slideInLeft-leave .3s;
}

@keyframes slideInRight-enter {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }

  to {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes slideInRight-leave {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0
  }
}
@keyframes slideInLeft-enter {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }

  to {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes slideInLeft-leave {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0
  }
}
