@import "./date-picker/picker.scss";
@import "./date-picker/date-picker.scss";
@import "common/var";
@import "./scrollbar.scss";

.time-select {
  margin: 5px 0;
  min-width: 0;
}

.time-select .el-picker-panel__content {
  max-height: 200px;
  margin: 0;
}

.time-select-item {
  padding: 8px 10px;
  font-size: 14px;
}

.time-select-item.selected:not(.disabled) {
  background-color: $--datepicker-active-color;
  color: $--color-white;

  &:hover {
    background-color: $--color-primary;
  }
}

.time-select-item.disabled {
  color: $--datepicker-border-color;
  cursor: not-allowed;
}

.time-select-item:hover {
  background-color: $--datepicker-cell-hover-color;
  cursor: pointer;
}
