.demo-avatar {

  &.demo-basic {
    text-align: center;
  }

  .sub-title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #8492a6;
  }

  .el-col:not(:last-child) {
    border-right: 1px solid rgba(224,230,237,.5);
  }

  .demo-type {
    display: flex;

    >div {
      flex: 1;
      text-align: center;
    }

    >div:not(:last-child) {
      border-right: 1px solid rgba(224,230,237,.5);
    }
  }
}
