.demo-cascader {
  .el-cascader {
    width: 222px;
  }
}
.demo-cascader-size {
  .el-cascader {
    vertical-align: top;
    margin-right: 15px;
  }
}
.demo-cascader .block {
  padding: 30px 0;
  text-align: center;
  border-right: solid 1px #eff2f6;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  &:last-child {
    border-right: none;
  }
}
.demo-cascader .demonstration {
  display: block;
  color: #8492a6;
  font-size: 14px;
  margin-bottom: 20px;
}
