.demo-block.demo-slider .source {
  padding: 0;
}

.demo-block.demo-slider .block {
  padding: 30px 24px;
  overflow: hidden;
  border-bottom: solid 1px #eff2f6;
  &:last-child {
    border-bottom: none;
  }
}

.demo-block.demo-slider .demonstration {
  font-size: 14px;
  color: #8492a6;
  line-height: 44px;
}

.demo-block.demo-slider .demonstration + .el-slider {
  float: right;
  width: 70%;
  margin-right: 20px;
}

#slider-rangedemo .el-slider__bar {
  display: block !important;
  &[data-index="0"] { background-color: #E84F62 }
  &[data-index="1"] { background-color: #F5A623 }
  &[data-index="2"] { background-color: #F5E411 }
  &[data-index="3"] { background-color: #386BF3 }
  &[data-index="4"] { background-color: #57B19B }
}
