@import './vars.css';

@component-namespace el {
  @b picker-panel {
    color: var(--datepicker-color);
    border: 1px solid var(--datepicker-border-color);
    box-shadow: 0 2px 6px #ccc;
    background: #fff;
    border-radius: 2px;
    line-height: 20px;
    margin: 5px 0;

    @e body, body-wrapper {
      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    @e content {
      position: relative;
      margin: 15px;
    }

    @e footer {
      border-top: 1px solid var(--datepicker-inner-border-color);
      padding: 4px;
      text-align: right;
      background-color: #fff;
      position: relative;
    }

    @e shortcut {
      display: block;
      width: 100%;
      border: 0;
      background-color: transparent;
      line-height: 28px;
      font-size: 14px;
      color: var(--datepicker-color);
      padding-left: 12px;
      text-align: left;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: #e5e9f2;
      }

      &.active {
        background-color: #e6f1fe;
        color: var(--datepicker-active-color);
      }
    }

    @e btn {
      border: 1px solid #dcdcdc;
      color: #333;
      line-height: 24px;
      border-radius: 2px;
      padding: 0 20px;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      font-size: 12px;

      &[disabled] {
        color: #cccccc;
        cursor: not-allowed;
      }
    }

    @e icon-btn {
      font-size: 12px;
      color: var(--datepicker-icon-color);
      border: 0;
      background: transparent;
      cursor: pointer;
      outline: none;
      margin-top: 3px;

      &:hover {
        color: var(--datepicker-text-hover-color);
      }
    }

    @e link-btn {
      cursor: pointer;
      color: #55a4ff;
      text-decoration: none;
      padding: 15px;
      font-size: 12px;
    }
  }

  .el-picker-panel *[slot=sidebar],
  .el-picker-panel__sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 110px;
    border-right: 1px solid var(--datepicker-inner-border-color);
    box-sizing: border-box;
    padding-top: 6px;
    background-color: #f9fafc;
  }

  .el-picker-panel *[slot=sidebar] + .el-picker-panel__body,
  .el-picker-panel__sidebar + .el-picker-panel__body {
    margin-left: 110px;
  }
}
