@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b form {
    @m label-left {
      & .el-form-item__label {
        text-align: left;
      }
    }
    @m label-top {
      & .el-form-item__label {
        float: none;
        display: inline-block;
        padding: 0 0 10px 0;
      }
    }
    @m inline {
      & .el-form-item {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
      }
    }
  }
  @b form-item {
    margin-bottom: 22px;
    @utils-clearfix;

    & .el-form-item {
      margin-bottom: 0;

      & .el-form-item__content {
        margin-left: 0 !important;
      }
    }

    @e label {
      text-align: right;
      vertical-align: middle;
      float: left;
      font-size: 14px;
      color: #5e6d82;
      line-height: 1;
      padding: 11px 12px 11px 0;
      box-sizing: border-box;
    }
    @e content {
      line-height: 36px;
      position: relative;
      font-size: 14px;
      @utils-clearfix;
    }
    @e error {
      color: #ff4949;
      font-size: 12px;
      line-height: 1;
      padding-top: 4px;
      position: absolute;
      top: 100%;
      left: 0;
    }
    & .el-button + .el-button,
    & .el-checkbox + .el-checkbox,
    & .el-radio + .el-radio {
      margin-left: 10px;
    }

    @when required {
      .el-form-item__label:before {
        content: '*';
        color: var(--color-danger);
        margin-right: 4px;
      }
    }

    @when error {
      & .el-input__inner,
      & .el-textarea__inner {
        border-color: var(--color-danger);
      }
    }
  }
}
