@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b menu {
    height: 60px;
    line-height: 60px;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    
    & li {
      list-style: none;
    }

    @m vertical {
      height: auto;

      & .el-menu-item {
        float: none;
        height: 56px;
        line-height: 56px;
        margin: 0;
        padding-left: 20px;
        cursor: pointer;
        position: relative;
        
        &:hover {
          background-color: var(--menu-item-hover-fill);
        }
        & .el-menu-item__bar {
          display: none;
        }
      }
      & .el-menu-item.is-active {
        color: var(--color-primary);
      }
    }
    @m dark {
      & .el-menu-item,
      & .el-submenu__title {
        color: #c0ccda;
      }

      & .el-menu-item {
        background-color: var(--dark-menu-item-fill);
      }

      &.el-menu--vertical {
        & .el-menu-item,
        & .el-submenu__title {
          &:hover {
            background-color: var(--dark-menu-item-hover-fill);
          }
          &.is-active {
            background-color: #5e6d82;
            color: #fff;
          }
        }
      }
      & .el-submenu .el-menu {
        background-color: var(--dark-submenu-item-fill);
      }
      & .el-submenu .el-menu-item:not(.el-submenu__title) {
        background-color: transparent;
        color: #99a9bf;

        &:hover {
          background-color: var(--dark-menu-item-hover-fill);
        }
        &.is-active {
          background-color: #5e6d82;
          color: #fff;
        }
      }
    }
  }
  @b menu-item {
    font-size: 14px;
    color: var(--menu-item-color);
    float: left;
    height: 100%;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    transition: var(--md-fade-transition);
    transform-origin: center center;
    background-color: var(--menu-item-fill);
    
    @e bar {
      content: '';
      width: 100%;
      height: 5px;
      background-color: var(--color-primary);
      bottom: 0;
      left: 0;
      position: absolute;
      display: block;
    }
    & [class^="el-icon-"] {
      vertical-align: baseline;
      margin-right: 10px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  
  @b submenu {
    & .el-menu {
      height: auto;
      background-color: var(--submenu-item-fill);
    }
    & .el-menu-item:not(.el-submenu__title) {
      padding-left: 46px;
      background-color: transparent;

      &:hover {
        background-color: var(--menu-item-hover-fill);        
      }
    }
    @e title [class^="el-icon-"] {
      vertical-align: baseline;
      margin-right: 10px;
    }
    @e icon-arrow {
      position: absolute;
      margin: 0;
      top: 50%;
      right: 20px;
      transform: rotateZ(180deg) translateY(-50%);
      font-size: 12px;
      transition: transform .3s ease-in-out;
      transform-origin: center 0;
    }
    @when opened {
      & .el-submenu__icon-arrow {
        transform: translateY(-50%);
      }
    }
  }

  @b menu-item-group {
    > ul {
      padding: 0;
    }
    @e title {
      padding-top: 15px;
      line-height: normal;
      font-size: 14px;
      padding-left: 25px;
      color: #99a9bf;
    }
  }
}
