@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b menu {
    height: 60px;
    line-height: 60px;
    background-color: #eff2f7;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;

    @e active-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 5px;
      background-color: var(--color-primary);
      z-index: 1;
      will-change: transform;
      transition: transform .3s cubic-bezier(.645,.045,.355,1), width .3s cubic-bezier(.645,.045,.355,1);
    }
    @m vertical {
      height: auto;

      & .el-menu-item {
        float: none;
        height: 56px;
        line-height: 56px;
        margin: 0;
        padding-left: 20px;
        cursor: pointer;
        position: relative;
        color: #475669;
        
        &:hover {
          background-color: #d3dce6;
        }
        &.is-active .el-menu-item__bar {
          display: none;
        }
      }
      & .el-menu-item.is-active {
        color: var(--color-primary);
      }
    }
    @m dark {
      background-color: #324057;

      & .el-menu-item,
      & .el-submenu__title {
        color: #c0ccda;
      }

      &.el-menu--vertical {
        & .el-menu-item,
        & .el-submenu__title {
          &:hover {
            background-color: #475669;
          }
          &.is-active {
            background-color: #5e6d82;
            color: #fff;
          }
        }
      }

      & .el-submenu .el-menu-item {
        background-color: #1f2d3d;
        color: #99a9bf;

        &:hover {
          background-color: #475669;
        }
        &.is-active {
          background-color: #5e6d82;
          color: #fff;
        }
      }
    }
  }
  @b menu-item {
    font-size: 16px;
    color: #475669;
    float: left;
    height: 100%;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    
    @when active {
      .el-menu-item__bar {
        content: '';
        width: 100%;
        height: 5px;
        background-color: var(--color-primary);
        bottom: 0;
        left: 0;
        position: absolute;
        display: block;
      }
    }
    & [class^="el-icon-"] {
      vertical-align: baseline;
      margin-right: 10px;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  
  @b submenu {
    & .el-menu {
      height: auto;
      background-color: darken(#eff2f7, 5%);
    }
    & .el-menu-item {
      padding-left: 46px;
    }
    @e title {
      float: none;
      height: 56px;
      line-height: 56px;
      margin: 0;
      padding-left: 20px;
      cursor: pointer;
      position: relative;
      color: #475669;
      
      &:hover {
        background-color: #d3dce6;
      }
      & [class^="el-icon-"] {
        vertical-align: baseline;
        margin-right: 10px;
      }
    }
    @e icon-arrow {
      position: absolute;
      margin: 0;
      top: 50%;
      right: 20px;
      transform: rotateZ(180deg) translateY(-50%);
      font-size: 12px;
      transition: transform .3s ease-in-out;
      transform-origin: center 0;
    }
    @when opened {
      & .el-submenu__icon-arrow {
        transform: translateY(-50%);
      }
    }
  }
}
