@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b message {
    box-shadow: var(--message-shadow);
    min-width: var(--message-min-width);
    box-sizing: border-box;
    border-radius: var(--border-radius-small);
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background-color: var(--color-white);
    transition: opacity 0.3s, transform .4s;
    overflow: hidden;

    @e group {
      margin-left: 40px;
      position: relative;
      height: 20px;
      line-height: 20px;
      display: flex;
      align-items: center;
      padding: var(--message-padding);

      & p {
        font-size: var(--font-size-base);
        margin: 0 34px 0 0;
        white-space: nowrap;
        color: var(--message-content-color);
        text-align: justify;
      }
    }

    @e icon {
      size: 40px;
      display: inline-block;
      float: left;
      text-align: center;

      i {
        line-height: 40px;

        &.el-message__type {
          color: var(--color-white);
        }
      }

      @modifier info {
        background-color: var(--color-info);
      }

      @modifier warning {
        background-color: var(--color-warning);
      }

      @modifier error {
        background-color: var(--color-danger);
      }

      @modifier success {
        background-color: var(--color-success);
      }
    }

    @e closeBtn {
      position: absolute 13px 12px * *;
      cursor: pointer;
      color: var(--message-close-color);
      font-size: var(--font-size-base);

      &:hover {
        color: var(--message-close-hover-color);
      }
    }

    & .el-icon-circle-check {
      color: var(--message-success-color);
    }

    & .el-icon-circle-cross {
      color: var(--message-danger-color);
    }

    & .el-icon-information {
      color: var(--message-info-color);
    }

    & .el-icon-warning {
      color: var(--message-warning-color);
    }
  }

  .el-message-fade-enter,
  .el-message-fade-leave-active {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}
