@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b select-group {
    margin: 0;
    padding: 0;

    @e wrap {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @e title {
      padding-left: 10px;
      font-size: 12px;
      color: #999;
      height: 30px;
      line-height: 30px;
    }

    & .el-select-dropdown__item {
      padding-left: 20px;
    }
  }
}
