@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b progress {
    position: relative;
    line-height: 1;

    @e text {
      font-size:14px;
      color:#475669;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      line-height: 1;

      i {
        vertical-align: middle;
        display: block;
      }
    }
    @m circle {
      display: inline-block;

      .el-progress__text {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        transform: translate(0, -50%);

        i {
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
    @m without-text {
      .el-progress__text {
        display: none;
      }
      .el-progress-bar {
        padding-right: 0;
        margin-right: 0;
        display: block;
      }
    }
    @m text-inside {
      .el-progress-bar {
        padding-right: 0;
        margin-right: 0;
      }
    }
    @when success {
      .el-progress-bar__inner {
        background-color: var(--color-success);
      }
      .el-progress__text {
        color: var(--color-success);
      }
    }
    @when exception {
      .el-progress-bar__inner {
        background-color: var(--color-danger);
      }
      .el-progress__text {
        color: var(--color-danger);
      }
    }
  }
  @b progress-bar {
    padding-right: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: -55px;
    box-sizing: border-box;

    @e outer {
      height: 6px;
      border-radius: 100px;
      background-color: #e5e9f2;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
    }
    @e inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      border-radius: 2px 0 0 2px;
      background-color: var(--color-primary);
      text-align: right;
      border-radius: 100px;
      line-height: 1;

      @utils-vertical-center;
    }
    @e innerText {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      font-size: 12px;
      margin: 0 5px;
    }
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 32px 0;
  }
}
