@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b select-dropdown {
    position: absolute;
    z-index: 1001;
    border: var(--select-dropdown-border);
    border-radius: var(--border-radius-small);
    background-color: var(--select-dropdown-background);
    box-shadow: var(--select-dropdown-shadow);
    box-sizing: border-box;
    margin: 5px 0;

    @when multiple {
      & .el-select-dropdown__item.selected {
        color: var(--select-option-selected);
        background-color: var(--select-dropdown-background);

        &.hover {
          background-color: var(--select-option-hover-background);
        }

        &::after {
          position: absolute;
          right: 10px;
          font-family: 'element-icons';
          content: "\E608";
          font-size: 11px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }

  @b select-dropdown__empty {
    padding: var(--select-dropdown-empty-padding);
    margin: 0;
    text-align: center;
    color: var(--select-dropdown-empty-color);
    font-size: var(--select-font-size);
  }

  @b select-dropdown__list {
    list-style: none;
    padding: var(--select-dropdown-padding);
    margin: 0;
    width: 100%;
    max-height: var(--select-dropdown-max-height);
    box-sizing: border-box;
    overflow-y: auto;
  }
}
