@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {

  @b select-dropdown {
    position: absolute;
    z-index: 1001;
    border: solid 1px #d3dce6;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    box-sizing: border-box;
    margin: 5px 0;

    @when multiple {
      & .el-select-dropdown__item.selected {
        color: #20A0FF;
        background-color: #fff;

        &.hover {
          background-color: #E5E9F2;
        }

        &::after {
          position: absolute;
          right: 10px;
          font-family: 'element-icons';
          content: "\E608";
          font-size: 11px;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }

  @b select-dropdown__empty {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    color: #999;
    font-size: 14px;
  }

  @b select-dropdown__list {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    width: 100%;
    max-height: 274px;
    box-sizing: border-box;
    overflow-y: auto;
  }
}
