@charset "UTF-8";
@import "./input-number.css";
@import "./tooltip.css";
@import "./common/var.css";

@component-namespace el {
  @b slider {
    @utils-clearfix;
    @e runway {
      width: 100%;
      height: 4px;
      margin: 20px 0;
      background-color: var(--slider-runway-background-color);
      border-radius: 3px;
      position: relative;
      cursor: pointer;
      vertical-align: middle;

      &.show-input {
        margin-right: 160px;
        width: auto;
      }
      
      &.disabled {
        cursor: default;

        .el-slider__bar, .el-slider__button {
          background-color: var(--slider-disable-color);
        }

        .el-slider__button-wrapper {
          &:hover,
          &.hover {
            cursor: not-allowed;
          }

          &.dragging {
            cursor: not-allowed;
          }
        }

        .el-slider__button {
          &:hover,
          &.hover,
          &.dragging {
            transform: scale(1);
          }

          &:hover,
          &.hover {
            cursor: not-allowed;
          }

          &.dragging {
            cursor: not-allowed;
          }
        }
      }
    }

    @e input {
      float: right;
      margin-top: 7px;
    }

    @e bar {
      height: 4px;
      background-color: var(--slider-main-background-color);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      position: absolute;
    }

    @e button-wrapper {
      size: 36px;
      position: absolute;
      z-index: 1001;
      top: -16px;
      transform: translateX(-50%);
      background-color: transparent;
      text-align: center;

      .el-tooltip {
        margin-top: 9px;
      }

      &:hover,
      &.hover {
        cursor: grab;
      }

      &.dragging {
        cursor: grabbing;
      }
    }

    @e button {
      size: 12px;
      background-color: var(--slider-main-background-color);
      border-radius: 50%;
      transition: .2s;

      &:hover,
      &.hover,
      &.dragging {
        transform: scale(1.5);
        background-color: var(--slider-button-hover-color);
      }

      &:hover,
      &.hover {
        cursor: grab;
      }

      &.dragging {
        cursor: grabbing;
      }
    }

    @e stop {
      position: absolute;
      size: 4px;
      border-radius: 50%;
      background-color: var(--slider-stop-background-color);
      transform: translateX(-50%);
    }
  }
}
