@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b tabs {
    display: inline-block;

    @e header {
      border-bottom: 1px solid #d3dce6;
      padding: 0;
      position: relative;
      margin: 0 0 15px;
      @utils-clearfix;
    }
    @e active-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-primary);
      z-index: 1;
      transition: transform .3s cubic-bezier(.645,.045,.355,1);
      list-style: none;
    }
    @e item {
      padding: 0 16px;
      height: 42px;
      box-sizing: border-box;
      line-height: @height;
      float: left;
      list-style: none;
      font-size: 14px;
      color: #8492a6;
      margin-bottom: -1px;
      position: relative;

      @when active {
        color: var(--color-primary);
      }

      &:hover {
        color: #1f2d3d;
        cursor: pointer;
      }
    }
    @e content {
      overflow: hidden;
      position: relative;
    }
    @m card {
      .el-tabs__active-bar {
        display: none;
      }
      & .el-tabs__item .el-icon-close {
        font-size: 12px;
        vertical-align: middle;
        line-height: 15px;
        overflow: hidden;
        width: 0;
        height: 14px;
        border-radius: 50%;
        text-align: center;
        transform-origin: 100% 50%;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        position: relative;
        top: -1px;
        right: -2px;

        &:before {
          transform: scale(.7, .7);
          display: inline-block;
        }

        &:hover {
          background-color: #99a9bf;
          color: #fff;
        }
      }
      .el-tabs__item {
        border: 1px solid transparent;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
              
        &.is-closable {
          &:hover {
            padding: * 9px;

            & .el-icon-close {
              width: 14px;
            }
          }
        }
        &.is-active {
          border: 1px solid #d3dce6;
          border-bottom-color: #fff;
          border-radius: 4px 4px 0 0;

          &.is-closable {
            padding: * 16px;
            
            .el-icon-close {
              width: 14px;
            }
          }
        }
      }
    }
    @m border-card {
      background: #fff;
      border: 1px solid #d3dce6;
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12), 0px 0px 6px 0px rgba(0,0,0,0.04);

      .el-tabs__content {
        padding: 15px;
      }
      .el-tabs__header {
        background-color: #eff2f7;
        margin: 0;
      }
      .el-tabs__item {
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        border: 1px solid transparent;
        border-top: 0;
        margin: * -1px;

        &.is-active {
          background-color: #fff;
          border-right-color: #d3dce6;
          border-left-color: #d3dce6;

          &:first-child {
            border-left-color: #d3dce6;
          }
          &:last-child {
            border-right-color: #d3dce6;
          }
        }

      }
    }
  }
  @b tab-pane {
    width: 100%;
    display: inline-block;
  }
}

.slideInRight-transition,
.slideInLeft-transition {
  display: inline-block;
}
.slideInRight-enter {
  animation: slideInRight-enter .3s;
}
.slideInRight-leave {
  position: absolute;
  left: 0;
  right: 0;
  animation: slideInRight-leave .3s;
}
.slideInLeft-enter {
  animation: slideInLeft-enter .3s;
}
.slideInLeft-leave {
  position: absolute;
  left: 0;
  right: 0;
  animation: slideInLeft-leave .3s;
}

@keyframes slideInRight-enter {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }

  to {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes slideInRight-leave {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0
  }
}
@keyframes slideInLeft-enter {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }

  to {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes slideInLeft-leave {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }

  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0
  }
}
