@import "./date-picker/picker.css";
@import "./date-picker/date-picker.css";
@import "./date-picker/vars.css";

.time-select {
  margin: 5px 0;
  min-width: 0;
}

.time-select .el-picker-panel__content {
  max-height: 200px;
  overflow: hidden;
  margin: 0;

  &:hover {
    overflow-y: auto;
  }
}

.time-select-item {
  padding: 8px 10px;
  font-size: 14px;
}

.time-select-item.selected:not(.disabled) {
  background-color: var(--datepicker-active-color);
  color: #fff;

  &:hover {
    background-color: #1d8ce0;
  }
}

.time-select-item.disabled {
  color: var(--datepicker-border-color);
  cursor: not-allowed;
}

.time-select-item:hover {
  background-color: var(--datepicker-cell-hover-color);
  cursor: pointer;
}
