@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b tree {
    cursor: default;
    background: #ffffff;
    border: 1px solid #d3dce6;
  }

  @b tree-node {
    white-space: nowrap;

    @e content {
      line-height: 36px;
      height: 36px;
      cursor: pointer;

      & > .el-checkbox,
      & > .el-tree-node__expand-icon {
        margin-right: 8px;
      }
      & > .el-checkbox {
        vertical-align: middle;
      }
      &:hover {
        background: #e5e9f2;
      }
    }

    @e expand-icon {
      display: inline-block;
      cursor: pointer;
      width: 0;
      height: 0;
      vertical-align: middle;
      margin-left: 10px;
      border: 6px solid transparent;
      border-right-width: 0;
      border-left-color: #99a9bf;
      border-left-width: 7px;

      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;

      &:hover {
        border-left-color: #999;
      }

      &.expanded {
        transform: rotate(90deg);
      }

      &.is-leaf {
        border-color: transparent;
        cursor: default;
      }
    }

    @e label {
      font-size: 14px;
      vertical-align: middle;
      display: inline-block;
    }

    @e icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: #99a9bf;
    }

    & > .el-tree-node__children {
      overflow: hidden;
      background-color: transparent;
      /** padding-left: 16px; */
      display: none;
    }

    &.expanded > .el-tree-node__children {
      display: block;
    }
  }
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #eff7ff;
}

.collapse-transition {
    transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}
