.app__content {
  min-width: 740px;

  &.no-toc {
    min-width: 660px;

    .app__main {
      max-width: 906px;
      margin: 36px 42px;
    }
  }

  .app__main {
    margin: 36px 242px 36px 42px;
  }
}

.app__main.commonpage {
  p {
    color: #333;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
  }

  small {
    color: #ccc;
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    color: #333;
    font-size: 14px;
    line-height: 22px;

    &::before {
      content: "-";
      margin: 0 4px;
    }
  }

  hr {
    border-color: #e4e4e4;
    border-style: solid;
    margin: 36px 0;
    border-top: 0;
  }

  a {
    color: #2270c1;
  }

  code {
    background-color: #f8f8f8;
    padding: 4px;
    color: #666;
  }

  .hljs {
    max-height: 100%;
    min-height: 100%;
    background-color: #f8f8f8;
    border: none;
    color: #666;
    padding: 20px 36px;
    margin: 16px 0;

    &::before {
      content: none;
    }

    .hljs-comment, .hljs-quote {
      color: #aaa;
    }

    .hljs__button {
      display: none;
    }
  }
}

.container {
  width: 960px;
  margin: 0 auto;
}
