@charset "UTF-8";
@import './var.css';

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: var(--fade-linear-transition);
}

.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active {
  opacity: 0;
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}

.fade-in-enter,
.fade-in-leave-active {
  opacity: 0;
}

.md-fade-center-enter-active,
.md-fade-center-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.md-fade-center-enter,
.md-fade-center-leave,
.md-fade-center-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.md-fade-bottom-enter-active,
.md-fade-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--md-fade-transition);
  transform-origin: center top;
}
.md-fade-bottom-enter,
.md-fade-bottom-leave,
.md-fade-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.md-fade-top-enter-active,
.md-fade-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: var(--md-fade-transition);
  transform-origin: center bottom;
}

.md-fade-top-enter,
.md-fade-top-leave,
.md-fade-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.md-fade-left-enter-active,
.md-fade-left-leave-active {
  opacity: 1;
  transform: scaleX(1);
  transition: var(--md-fade-transition);
  transform-origin: right center;
}
.md-fade-left-enter,
.md-fade-left-leave,
.md-fade-left-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.md-fade-right-enter-active,
.md-fade-right-leave-active {
  opacity: 1;
  transform: scaleX(1);
  transition: var(--md-fade-transition);
  transform-origin: left center;
}
.md-fade-right-enter,
.md-fade-right-leave,
.md-fade-right-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s cubic-bezier(.645,.045,.355,1);
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.list-move, .list-enter-active, .list-leave-active {
  transition: all .5s cubic-bezier(.55,0,.1,1);
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translate(0, -30px);
}
/*.list-leave-active {
  position: absolute;
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}*/
