@import "../common/var.css";
@import "./picker-panel.css";

@component-namespace el {
  @b date-picker {
    min-width: 254px;

    &.has-sidebar.has-time {
      min-width: 434px;
    }

    &.has-sidebar {
      min-width: 370px;
    }

    &.has-time {
      min-width: 324px;
    }

    .el-picker-panel__content {
      min-width: 224px;
    }

    table {
      table-layout: fixed;
      width: 100%;
    }

    @e editor-wrap {
      position: relative;
      display: table-cell;
      padding: 0 5px;
    }

    @e editor {
      position: relative;
      border: 1px solid #c0ccda;
      border-radius: 4px;
      padding: 5px 10px;
      box-sizing: border-box;
      height: 28px;
      outline: none;
      appearance: none;
      transition: border 0.3s;
      width: 100%;

      &:hover {
        border-color: #20a0ff;
      }
    }

    @e time-header {
      position: relative;
      border-bottom: 1px solid var(--datepicker-inner-border-color);
      font-size: 12px;
      padding: 8px 5px 5px 5px;
      display: table;
      width: 100%;
      box-sizing: border-box;
    }

    @e header {
      margin: 12px;
      text-align: center;
    }

    @e header-label {
      font-size: 14px;
      padding: 0 5px;
      line-height: 22px;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: var(--datepicker-text-hover-color);
      }

      &.active {
        color: var(--datepicker-active-color);
      }
    }

    @e prev-btn {
      float: left;
    }

    @e next-btn {
      float: right;
    }

    @e time-wrap {
      padding: 10px;
      text-align: center;
    }

    @e time-label {
      float: left;
      cursor: pointer;
      line-height: 30px;
      margin-left: 10px;
    }
  }
}
