@import './vars.css';

@component-namespace el {
  @b date-range-picker {
    min-width: 520px;

    &.has-sidebar.has-time {
      min-width: 766px;
    }

    &.has-sidebar {
      min-width: 620px;
    }

    &.has-time {
      min-width: 660px;
    }

    table {
      table-layout: fixed;
      width: 100%;
    }

    .el-picker-panel__body {
      min-width: 513px;
    }

    .el-picker-panel__content {
      margin: 0;
    }

    @e editor {
      position: relative;
      border: 1px solid #c0ccda;
      border-radius: 4px;
      padding: 5px 10px;
      box-sizing: border-box;
      height: 28px;
      outline: none;
      appearance: none;
      transition: border 0.3s;
      width: 100%;

      &:hover {
        border-color: #20a0ff;
      }
    }

    @e header {
      position: relative;
      text-align: center;
      height: 28px;

      button {
        float: left;
      }

      div {
        font-size: 14px;
        margin-right: 50px;
      }
    }

    @e content {
      float: left;
      width: 50%;
      box-sizing: border-box;
      margin: 0;
      padding: 16px;

      @when left {
        border-right: 1px solid var(--datepicker-inner-border-color);
      }

      @when right {
        .el-date-range-picker__header {
          button {
            float: right;
          }

          div {
            margin-left: 50px;
            margin-right: 50px;
          }
        }
      }
    }

    @e editors-wrap {
      box-sizing: border-box;
      display: table-cell;

      @when right {
        text-align: right;
      }
    }

    @e time-header {
      position: relative;
      border-bottom: 1px solid var(--datepicker-inner-border-color);
      font-size: 12px;
      padding: 8px 5px 5px 5px;
      display: table;
      width: 100%;
      box-sizing: border-box;

      > .el-icon-arrow-right {
        font-size: 20px;
        vertical-align: middle;
        display: table-cell;
        color: var(--datepicker-icon-color);
      }
    }

    @e time-picker-wrap {
      position: relative;
      display: table-cell;
      padding: 0 5px;

      .el-picker-panel {
        position: absolute;
        top: 13px;
        right: 0;
        z-index: 1;
        background: #fff;
      }
    }
  }
}
