@import "../common/var.css";
@import "../common/transition.css";

@component-namespace el {
  @b date-editor {
    position: relative;
    display: inline-block;

    &.el-input {
      width: 193px;
    }

    @m daterange {
      &.el-input {
        width: 220px;
      }
    }

    @m datetimerange {
      &.el-input {
        width: 350px;
      }
    }

    .el-picker-panel {
      position: absolute;
      min-width: 180px;
      box-sizing: border-box;
      box-shadow: 0 2px 6px #ccc;
      background: var(--color-white);
      z-index: 10;
      top: 41px;
    }
  }
}
