@import "../common/var";
@import "../mixins/mixins";
@import "./picker-panel.scss";

@include b(date-picker) {
  width: 261px;

  &.has-sidebar,
  &.has-sidebar.has-time {
    width: 371px;
  }

  &.has-time .tm-picker-panel__body-wrapper {
    position: relative;
  }

  &.tm-inline-picker-panel {
    border: none;
    box-shadow: none;
    margin: 0 auto;
    line-height: normal;
  }

  .tm-picker-panel__content {
    width: 238px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-date-table {
    table-layout: fixed;
    width: 100%;
    th {
      text-transform: uppercase;
    }
  }

  .tm-year-table,
  .tm-month-table {
    margin-left: auto;
    margin-right: auto;
  }

  @include e(editor-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;
  }

  @include e(time-header) {
    position: relative;
    border-bottom: 1px solid $--datepicker-inner-border-color;
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
  }

  @include e(year-header) {
    position: relative;
    border-bottom: 1px solid $--datepicker-inner-border-color;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    padding: 11px 11px 12px 11px;
    box-sizing: border-box;

    .tm-date-picker__header-label {
      font-size: 15px;
      line-height: inherit;
      vertical-align: middle;
    }
    &:hover {
      background: $--color-white-smoke;
    }
  }

  @include e(header) {
    margin: 16px 12px 8px;
    text-align: center;
    line-height: 25px;

    @include m(bordered) {
      margin-bottom: 0;
      padding-bottom: 12px;
      border-bottom: solid 1px $--border-color-lighter;

      & + .tm-picker-panel__content {
        margin-top: 0;
      }
    }
  }

  @include e(header-label) {
    font-size: 15px;
    font-weight: 500;
    padding: 0 5px;
    line-height: inherit;
    text-align: center;
    cursor: pointer;
    color: $--color-text-regular;

    &:hover {
      color: $--datepicker-text-hover-color;
    }

    &.active {
      color: $--datepicker-active-color;
    }
  }

  @include e(prev-btn) {
    float: left;
    .tm-icon {
      fill: $--color-pastel-gray;
    }
  }

  @include e(next-btn) {
    float: right;
    .tm-icon {
      fill: $--color-pastel-gray;
    }
  }

  @include e(time-wrap) {
    padding: 10px;
    text-align: center;
  }

  @include e(time-label) {
    float: left;
    cursor: pointer;
    line-height: 30px;
    margin-left: 10px;
  }
}
