@import "../common/var";
@import "../mixins/mixins";

@include b(date-table) {
  font-size: 12px;
  user-select: none;

  @include when(week-mode) {
    .tm-date-table__row {
      &:hover {
        & > div {
          background-color: $--datepicker-inrange-color;
        }
        td.available:hover {
          color: $--datepicker-color;
        }
        td:first-child > div {
          margin-left: 5px;
          border-top-left-radius: 28px;
          border-bottom-left-radius: 28px;
        }
        td:last-child > div {
          margin-right: 5px;
          border-top-right-radius: 28px;
          border-bottom-right-radius: 28px;
        }
      }

      &.current > div {
        background-color: $--datepicker-inrange-color;
      }

      .start-date ~ .available > div {
        background-color: $--datepicker-inrange-color;

        &:before {
          content: '';
          position: absolute;
          width: 6px;
          height: $--datepicker-cell-size;
          left: -3px;
          top: 2px;
          background-color: $--datepicker-inrange-color;
        }
      }
    }
  }

  .prev-month + .in-range > div {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
  }

  .in-range + .in-range > div {
    &:before {
      content: '';
      position: absolute;
      width: 6px;
      height: $--datepicker-cell-size;
      left: -3px;
      top: 2px;
      background-color: $--datepicker-inrange-color;
    }
  }


  .in-range + .next-month > div {
    &:before {
      box-sizing: content-box;
      pointer-events: none;
      content: '';
      position: absolute;
      height: $--datepicker-cell-size;
      width: $--datepicker-cell-size;
      border: 4px solid $--color-white;
      border-left: none;
      top: -2px;
      left: -31px;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }
    &:after {
      box-sizing: content-box;
      pointer-events: none;
      content: '';
      position: absolute;
      height: $--datepicker-cell-size;
      width: $--datepicker-cell-size;
      border: 4px solid $--color-white;
      border-left: none;
      top: -2px;
      left: -27px;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }
  }

  td {
    width: $--datepicker-cell-size;
    height: $--datepicker-cell-size;
    padding: 2px 3px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: $--datepicker-cell-font;

    & > div {
      height: $--datepicker-cell-size;
      box-sizing: border-box;
    }

    & > div > span {
      display: inline-block;
      height: $--datepicker-cell-size;
      width: $--datepicker-cell-size;
      margin: 0 auto;
      line-height: $--datepicker-cell-size;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      box-sizing: border-box;
      border: $--datepicker-cell-border-width solid transparent;
    }

    &.next-month,
    &.prev-month {
      color: $--datepicker-off-color;
    }

    &.today {
      position: relative;
      & > div > span {
        color: $--color-blueberry;
        font-weight: bold;
      }
      &.start-date > div > span,
      &.end-date > div > span {
        color: $--color-white;
      }
    }

    &:not(.start-date):not(.end-date).available:hover {
      color: $--color-white;
      & > div > span {
        background-color: rgba($--datepicker-text-hover-color, 0.5);
      }
    }

    &.in-range {
      & > div {
        background-color: $--datepicker-inrange-color;
      }
      &:first-of-type > div {
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
      }
      &:last-of-type > div {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
      }
    }


    &.current:not(.disabled) > div > span {
      color: $--color-white;
      background-color: $--datepicker-active-color;
    }
    &.start-date > div,
    &.end-date > div {
      color: $--color-white;
    }

    &.start-date > div > span,
    &.end-date > div > span {
      display: inline-block;
      height: $--datepicker-cell-size;
      width: $--datepicker-cell-size;
      background-color: $--datepicker-active-color;
      box-sizing: border-box;
    }

    &.start-date > div {
      margin-left: 5px;
      border-top-left-radius: $--datepicker-cell-size;
      border-bottom-left-radius: $--datepicker-cell-size;
    }

    &.end-date > div {
      margin-right: 5px;
      border-top-right-radius: $--datepicker-cell-size;
      border-bottom-right-radius: $--datepicker-cell-size;
    }

    &.disabled > div {
      opacity: 1;
      cursor: not-allowed;
      color: $--color-text-placeholder;
    }

    &.week {
      font-size: 80%;
      color: $--datepicker-header-color;
    }
  }

  th {
    font-size: $--datepicker-cell-font;
    font-weight: normal;
    padding: 5px 0 2px;
    color: $--datepicker-header-color;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
