@import "../mixins/mixins";
@import "../common/var";
@import "../common/transition";

@include b(date-editor) {
  position: relative;
  display: inline-block;
  text-align: left;

  &.tm-input,
  &.tm-input__inner {
    width: 220px;
  }

  @include m((daterange, timerange)) {
    &.tm-input,
    &.tm-input__inner {
      width: 350px;
    }
  }

  @include m(datetimerange) {
    &.tm-input,
    &.tm-input__inner {
      width: 400px;
    }
  }

  @include e(clear) {
    cursor: pointer;
  }

  .tm-icon--circle-close {
    cursor: pointer;
  }

  .tm-range-input {
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 39%;
    text-align: center;
    font-size: $--font-size-base;
    color: $--color-text-regular;

    &::placeholder {
      color: $--color-text-placeholder;
    }
  }

  .tm-range-separator {
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    width: 5%;
    color: $--color-text-primary;
  }

  .tm-range__icon,
  .tm-range__close-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    fill: $--color-pastel-gray;
  }

  .tm-range__icon {
    left: 8px;
  }

  .tm-range__close-icon {
    right: 8px;
    cursor: pointer;
    &:hover {
      fill: $--input-icon-focus-color;
    }
  }

  &:hover {
    .tm-range__icon,
    .tm-range__close-icon {
      fill: $--color-taupe-gray;
    }
    .tm-range__close-icon:hover {
      fill: $--input-icon-focus-color;
    }
  }

  &:focus {
    .tm-range__icon {
      fill: $--color-blueberry;
    }
  }
}

@include b(range-editor) {
  &.tm-input__inner {
    padding: 3px 30px;
  }

  @include when(active) {
    border-color: $--color-primary;

    &:hover {
      border-color: $--color-primary;
    }
  }

  @include m(medium) {
    &.tm-input__inner {
      height: $--input-medium-height;
    }

    .tm-range-separator {
      line-height: 28px;
      font-size: $--input-medium-font-size;
    }

    .tm-range-input {
      font-size: $--input-medium-font-size;
    }

    .tm-range__icon,
    .tm-range__close-icon {
      line-height: 28px;
    }
  }

  @include m(small) {
    &.tm-input__inner {
      height: $--input-small-height;
    }

    .tm-range-separator {
      line-height: 24px;
      font-size: $--input-small-font-size;
    }

    .tm-range-input {
      font-size: $--input-small-font-size;
    }

    .tm-range__icon,
    .tm-range__close-icon {
      line-height: 24px;
    }
  }

  @include m(mini) {
    &.tm-input__inner {
      height: $--input-mini-height;
    }

    .tm-range-separator {
      line-height: 20px;
      font-size: $--input-mini-font-size;
    }

    .tm-range-input {
      font-size: $--input-mini-font-size;
    }

    .tm-range__icon,
    .tm-range__close-icon {
      line-height: 20px;
    }
  }

  @include when(disabled) {
    background-color: $--input-disabled-fill;
    border-color: $--input-disabled-border;
    color: $--input-disabled-color;
    cursor: not-allowed;

    &:hover, &:focus {
      border-color: $--input-disabled-border;
    }

    input {
      background-color: $--input-disabled-fill;
      color: $--input-disabled-color;
      cursor: not-allowed;
      &::placeholder {
        color: $--input-disabled-placeholder-color;
      }
    }

    .tm-range-separator {
      color: $--input-disabled-color;
    }
  }
}
